
.quicklymodal-wrap{
  background-color: rgba(0,0,0,0);
  position: absolute;

  height: 100%;
  width: 100%;
}

* {
  font-family: arial;
}

html {
  font-size: 15px;
}

.border-right-1 {
  border-right: 1px solid #eee;
}

.border-bottom-3 {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.10);
}

.bg-grey {
  background-color: #f7f7f7!important;
}

.header-btn:hover {
  transition: box-shadow 0.2s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.header-btn:hover .main-link {
  transition: color 0.2s ease;
  color: #f26522;
}
.bb-red-3 {
  border-bottom: 3px solid #f06124;
}


.w-208 {
  width: 208px
}

.product-plate {
  margin: -1px 0 0 -1px;
  border: 1px solid #e9ecef;
}

.product-plate:hover {
  transition: 0.2s ease;
/*  box-shadow: 0 0 0 5px rgba(256, 256, 256, 1),

  0 5px  35px  rgba(0, 0, 0, 0.15);*/
 /* z-index: 100;*/
/*  border:1px solid #fff; !important*/

}
.row-img-wrap {
  width: 120px;
  max-width: 200px;
  margin-right: 0rem;
}
.img-wrap {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  align-self: center;
}


.poduct-img {
  max-width: 100%;
  max-height: 200px;
  transition: all 0.2s ease;
}
.row-poduct-img {
  max-width: 120px;
  max-height: 120px;
  transition: all 0.2s ease;
}



@media screen and (min-width: 768px){

  .row-img-wrap {
    width: 160px;
    max-width: 160px;
    margin-right: 0rem;
  }
  .row-poduct-img {
    max-width: 160px;
    max-height: 160px;
  }


}


@media screen and (min-width: 1200px){

  .row-img-wrap {
    width: 200px;
    max-width: 200px;
    margin-right: 0rem;
  }
  .row-poduct-img {
    max-width: 200px;
    max-height: 200px;
  }


}



html {
  font-size: 15px;
}

a,
.link {
  color: #355b99;
}

.shrink {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  max-width: 100%;
  width: auto;
}

.icon {
  display: inline-block;
  width: .7em;
  height: .7em;
  stroke-width: 1;
  stroke: #bdbdbd;
  fill: #e5e5e5;
  vertical-align: middle;
  top: -2px;
  position: relative;
  margin: 0 2px 0 0;
}

.filled .icon {
  stroke: #ff5205;
  fill: #ff9c00;
}

.Rate {
  display: inline-block;
}

a:hover {
  text-decoration: none;
}

.icon-cart {
  padding-top: 5px;
  margin: 0px -2px -2px -3px;
}

.productName {
  overflow: hidden;
  height: 40px;
  line-height: 20px;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.productName:before {
  content: "";
  float: left;
  width: 5px;
  height: 40px;
}

.productName > *:first-child {
  float: right;
  width: 100%;
  margin-left: -5px;
}

.productName:after {
  content: "\02026";
  box-sizing: content-box;
  float: right;
  position: relative;
  top: -20px;
  left: 100%;
  width: 3em;
  margin-left: -3em;
  padding-right: 5px;
  text-align: right;
  background-size: 100% 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}



/*----------------------стикеры-----------------------------*/


.stikerWrap {
  position: absolute;
  top: 5px;
  left: 5px;
  max-width: 100%;
  overflow: visible;
  height: 1px;

}

.stiker {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 0.25em .6em;
  font-size: 80%;
  height: 22px;
  z-index: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  margin-bottom: 3px;
}
.stiker span {
    margin-left: 1rem;

}
.stiker:hover {
  opacity: .9;
}


/*подарок*/

.gift {
  background-color: #dff1ff;
  border-radius: .15rem;
  color: #1470cd;

}

.gift::before {
    content: " ";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #1470cd;
    top: 7px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(0, 88, 178, 0.32);
}




/*скидка*/

.sale {
  background-color: #f3e5f7;
  border-radius: .15rem;
  color: #8600b2;

}

.sale::before {
    content: " ";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #8600b2;
    top: 7px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(134, 0, 178, 0.4);
}



/*промокод*/
.promocod {
 background-color: #fff4d8;
  border-radius: .15rem;
  color: #de5e00;
}


.promocod::before {
    content: " ";
    display: block;
    width: 8px;
    height: 8px;
	background-color: #ef7900;
    top: 7px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(255, 154, 49, 0.55);
}



/*рассрочка */
.credit {
 background-color: #e6f7ee;
  border-radius: .15rem;
  color: #007f3c;
}


.credit::before {
    content: " ";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #0bb159;
    top: 7px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(11, 177, 89, 0.4);
}



/*бонусы*/

.d-bonus {
 background-color: #e6f7ee;
  border-radius: .15rem;
  color: #007f3c;
}


.d-bonus::before {
    content: " ";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #0bb159;
    top: 7px;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(11, 177, 89, 0.4);
}




/*----------------------/стикеры-----------------------------*/





.tooltip-inner {
  max-width: 200px;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  width: 96vw;
  text-align: left;
  padding: .75rem 1rem;
  margin-left: 2vw;
  margin-right: 2vw;
  color: #000;
}

.tooltip.bs-tether-element-attached-top .tooltip-inner::before,
.tooltip.tooltip-bottom .tooltip-inner::before {
  border-bottom-color: #fff;
}

.tooltip.show {
  opacity: 1;
}


.desc-list-warp ul{
  padding-left: 0px;
  list-style-type: none;
  font-size: 80%;
  line-height: 24px;
}
.desc-list-warp ul li:before{
  content: '–';
  margin-right: 7px;
}

/*@media screen and (max-width: 576px){
  .tooltip-inner {
    width: 80vw;
    max-width: 80vw;
    height: 80vh;
    top: 50%;
    margin: 10vw;
  }
  
}
*/











.discount mark{
  position: relative;
  cursor: pointer;

  padding: .25em .4em;
  font-size: 60%;
  font-weight: 700;
  color: #000;

  background-color: #ffe600;
  text-transform: uppercase;
}

.discount{
  line-height: 11px;
}


.price-wrap{
  height: 30px
}

.bt-1{
  border-top: 1px solid #eee;
}
.filterSet-plate{
  margin: -1px 0 0 -1px;
  border: 1px solid #e9ecef!important;
}
.filterPreSet{
  padding: .6rem;
  padding-bottom: 0.5rem;
  font-size: 80%;
  background-color: #f4f4f4;
  border-radius: 5px;
  color: #666;
  margin-right: .5rem;
}



.filterSet{
  width: 100%;
  padding:  7px 0;
  overflow:hidden;
}

.filterSet .swiper-slide {
  width: auto;
}


.breadcrumbsSwiper-wrap {
  overflow: hidden;
}

.breadcrumbsSwiper {
  position: relative;
  width: 100%;
  padding: 0 0 0 10px;
  overflow: hidden;
}

.breadcrumbsSwiper .swiper-slide {
  width: auto;
}


.mobile-list-control{
  font-size: 1.2rem;
  height: 20px;
}

.p-2-5{
  padding: 0.75rem;
}





#logo{
  width:235px;}

  @media screen and (max-width: 768px) {

    #logo #cart{display:none;}/*скрываем корзину*/

    #logo{transform: translate(-52px, 3px);
      width:210px;}

    }

    .header-cart{
      color:#f4793b; 

      height: 25px;
      font-size: 1.3rem;
      margin-right: 0.4rem;
    }


    .modal-full {
      max-width: 100%;
      margin: 0;
      background-color: white;
      height: 100%;
    }


    .viewSetting{
      color:#999;
      cursor: pointer;
    }

    .viewSetting.active{
      color:#333;
    }


    .noUi-target {
      background: url(https://i.snag.gy/zgvYxb.jpg) 51% 55%;
      border-radius: 4px;
      border: none;
      box-shadow: none;
    }

    .noUi-horizontal {
      height: 39px;
      cursor: pointer;
    }
    .noUi-connect {
      height: 2px;
      top: 19px;
      background: #0275d8;
    }


    .noUi-horizontal .noUi-handle {
      width: 11px;
      height: 11px;
      left: 0;
      top: 14px;
      border-radius: 50%;
      background-color: #0275d8;
      box-shadow:none;
      border:none;
    }



    .noUi-horizontal .noUi-handle.noUi-active{
      width: 20px;
      height: 20px;
      left: -4px;
      top: 9px;

      box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.01);

    }

    .noUi-marker-horizontal.noUi-marker-large {
      height: 3px;
      top: 0px;
    }

    .noUi-marker-horizontal.noUi-marker {
      height: 3px;
      top: 0px;
    }

    .noUi-value-horizontal {

      transform: translate(-50%,50%);
      font-size: 11px;
    }

    .noUi-horizontal .noUi-handle:focus{
      outline:none;}


      .noUi-handle:after, .noUi-handle:before {

        display: none;

      }


      * {outline:none;}





      .slider-arrow {
        position: absolute;
        top: 50%;
        background-color: #fff;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        z-index: 1000;
        transform: translateY(-50%);
        padding: 9px;
        opacity: .3;
        cursor: pointer;
        box-shadow:  0 0 15px rgba(0,0,0,.1);
      }

      .slider-arrow.swiper-button-disabled{
        color: #999;
      }

      .slider-arrow:hover,
      .slider-arrow:focus{
        opacity: 1;
        transition: opacity 0.2s ease;
      }

      .slider-arrow-l{
        left: 20px;
      }

      .slider-arrow-r{
        right: 20px;
        text-align: right;
      }





      .catBanner {
        width: 100%;
        height: 150px;
        overflow: hidden;
        position: relative;
      }

      .catBanner .swiper-slide img {
        width: auto;
        height: auto;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
        overflow: hidden;
      }




      .swiper-slide-active {
        z-index: 50;
      }



      .container-fluid {
        background-color: #ededed;
        padding: 0;
      }

      .container {
        background-color: #fff;
      }

      .header-icon{
        color: #f4793b;
        font-size: 1.3rem;
        padding-top: .25rem;

      }



      .search-input:before {
        content: "m";
        font-family: icons;
        position: absolute;
        right: 0px;
        top: 0px;
        color: #adadad;
        cursor: pointer;
        padding: .5rem .85rem;
      }




      .stikerWrap .dropdown-menu{
        padding: 0.75rem;
        width: 300px;

        border:none;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        top: 21px;
      }



      /* actual dropdown animation */
      .dropdown .dropdown-menu {
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;

        height: 0;
        display: block;
        overflow: hidden;
        opacity: 0;
      }

      .dropdown.show .dropdown-menu {
        z-index: 100000000;
        opacity: 1;
        height: auto;
      }



      @media screen and (max-width: 768px){


        .stikerWrap .dropdown-menu{
          z-index: 1000;
          position: fixed;
          width: 90vw;
          top:50%;
          transform: translateY(-50%);
          margin:5vh 5vw; 


          box-shadow: 0 0 100px 100px rgba(0, 0, 0, 0.1);

        }



      }

      .quick-view{
        opacity: 0;
        color: white;
        position: absolute;
        background: rgba(0,0,0,.7);
        border-radius: 5px;
        font-size: 80%;
        padding: .25rem;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        cursor: pointer;
transition: 0.3s ease;
        white-space: nowrap;
      }

      .poduct-img-wrap-z{
        position: relative;
      }

      .product-plate:hover .quick-view{
        opacity: .9;


      }

      .product-plate:hover .quick-view:hover{
        opacity: .9;

        color: white;
      }

      .img-tab-content {
        position: relative;
      }

      .main-image {
        width: 100%;
        background-color: #fff;
        overflow-x: hidden;
      }

      .main-image .swiper-slide {
        display: block;
        width: 50px;
        color: #999;
        font-size: 14px;
        line-height: 50px;
        text-align: center;
      }

      .img-tab-nav {
        position: relative;
        height: 50px;
        width: 100%;
        padding: 0 10px;
        background-color: #fff;
        overflow: hidden;
      }

      .img-tab-nav {
        height: 20%!important;
        box-sizing: border-box;
        overflow: hidden;
        padding: 10px 0;
      }

      .img-tab-nav .swiper-slide {
        padding: 5px;
        border: 1px solid #fff;
        cursor: pointer;
      }

      .img-tab-nav .active {
        opacity: 0.7;
        border: 1px solid #eee;
      }

      .large-image {
        max-height: 320px;
        max-width: 100%;
      }

      .full-image-warp {
        height: 100vh;
      }

      .image-warp {
        height: 320px;
        cursor: zoom-in;
      }

      .zoom-cursor {
        cursor: zoom-in;
      }

      @media screen and (max-width: 425px) {
        .image-warp {
          height: 220px;
        }
        .large-image {
          max-height: 220px;
        }
      }



      .quick-product-modal{

      }


      @media (min-width: 576px){

        .quick-product-modal{
          max-width: 1140px;
          margin: 30px auto;
          }}

          .delivery-info {
            background-color: #f2fbee;
          }


          .badge-benefit {
            background-color: #ffe600;
            color: #000;
            text-transform: uppercase;
            border-radius: 0;
          }

          .main-props {
            line-height: 1.75rem;
          }

          #sidebar{
            width: 264px;
            flex-shrink: 0;

          }

          #content: {
            margin-left: 284px;
          }




          .btn-primary {
            box-shadow: 0 2px 6px rgba(71, 102, 191, 0.66);

          }


          .btn-primary:hover  {
           box-shadow: 0 2px 6px rgba(71, 102, 191, 0.66), 0 6px 14px rgba(71, 102, 191, 0.31);
         }

         .btn-primary:active {
           box-shadow: 0 1px 3px rgba(71, 102, 191, 0.66));
}

.product-plate:hover .btn-primary {
 box-shadow: 0 2px 6px rgba(71, 102, 191, 0.66), 0 6px 14px rgba(71, 102, 191, 0.31);
}


/*.product-plate:hover  .row-poduct-img{
  opacity: 0.8;

}*/



.mobile-stiker.gift::before {
  content: "b";
  font-family: 'untitled-font-4';

}

.mobile-stiker.sale::before {
  content: "a";
  font-family: 'untitled-font-4';
}
.mobile-stiker.promocod::before {
  content: "a";
  font-family: 'untitled-font-4';
}
.mobile-stiker.credit::before {
  content: "c";
  font-family: 'untitled-font-4';
}
.mobile-stiker.d-bonus::before {
  content: "d";
  font-family: 'untitled-font-4';
}


.search-result{
  z-index: 1111111111111;
  background-color: white;

  width: 100%;
  position: fixed;
  height: 100%;
  max-height: calc(100% - 106px);
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  bottom: 0px;
  left: 0;
  overflow: scroll;
}

.overflow{
  overflow: scroll;
}

.search-image-wrap{
  height: 40px;
  width: 40px;
}
.search-image{
  max-height: 100%;
  max-width: 100%;

}
.button-search-result{
 position: fixed;
 bottom: 5px;
 left: 0;
 width: 100%;
 padding: 0 15px;
 background-color: #fff;
 box-shadow: 0 10px 30px 30px #fff;
 margin: 1rem 0;
}

.relative{
 position: relative;
 height: 100%;
}

@media (min-width: 768px){

  .search-result{
    height: 500px;
    width: 500px;
    top: 55px;
    max-height: calc(100vh - 160px);
    position: absolute;
    top: 55px;
    left: -15px;
    overflow: hidden;

  }


  .button-search-result{
    position: absolute;
    margin:  0 0;
    bottom: 0;
    padding: 0
  }
}