* {
  font-family:arial;
}

.w-208{
  width:208px
}
.product-plate{
    margin: -1px 0 0 -1px;
  border: 1px solid #e9ecef!important;
  
}

.img-wrap{
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  align-self: center;
}

.poduct-img{
  max-width:100%;
  max-height: 220px;
  
}
html {
  font-size: 15px;
}

a, .link {
    color: #1d5dbe;
}

.shrink {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: 100%;
    width: auto;
}


.icon {
  display: inline-block;
  width: .7em;
  height: .7em;
  stroke-width: 1;
  stroke: #bdbdbd;
  fill: #e5e5e5;
  vertical-align: middle;
  top: -2px;
  position: relative;
  margin: 0 2px 0 0;
}


.filled .icon {
    stroke: #ff5205;
  fill: #ff9c00;
}


.Rate{
  display: inline-block;
}


a:hover{
  text-decoration: none;
}


.icon-cart {
      padding-top: 5px;
    margin-bottom: -2px;
}