@charset "UTF-8";

@font-face {
  font-family: "icons";
  src:url("fonts/icons.eot");
  src:url("fonts/icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/icons.woff") format("woff"),
    url("fonts/icons.ttf") format("truetype"),
    url("fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
  content: "\61";
}
.icon-mobile-menu-dots:before {
  content: "\62";
}
.icon-arrow-down:before {
  content: "\63";
}
.icon-cabinet:before {
  content: "\64";
}
.icon-cart:before {
  content: "\65";
}
.icon-cabinet-exit:before {
  content: "\66";
}
.icon-catalog-header:before {
  content: "\67";
}
.icon-compare:before {
  content: "\68";
}
.icon-pin-city:before {
  content: "\69";
}
.icon-project-galatec:before {
  content: "\6a";
}
.icon-project-service:before {
  content: "\6b";
}
.icon-project-store:before {
  content: "\6c";
}
.icon-search-field:before {
  content: "\6d";
}
.icon-message-closed-envelope:before {
  content: "\6e";
}
.icon-twitter-social-logotype:before {
  content: "\6f";
}
.icon-youtube-symbol:before {
  content: "\70";
}
.icon-turn-visibility-off-button:before {
  content: "\71";
}
.icon-visibility-button:before {
  content: "\72";
}
.icon-instagram:before {
  content: "\73";
}
.icon-singup-benef-1:before {
  content: "\74";
}
.icon-left-arrow-term:before {
  content: "\75";
}
.icon-refresh:before {
  content: "\76";
}
.icon-right-arrow-term:before {
  content: "\77";
}
.icon-singup-benef-2:before {
  content: "\78";
}
.icon-singup-benef-3:before {
  content: "\79";
}
.icon-shield:before {
  content: "\7a";
}
.icon-mailru-logo:before {
  content: "\41";
}
.icon-yandex-logo:before {
  content: "\42";
}
.icon-vk-social-logotype:before {
  content: "\43";
}
.icon-odnoklassniki-logo:before {
  content: "\44";
}
.icon-google-plus-social-logotype:before {
  content: "\45";
}
.icon-facebook-logo:before {
  content: "\46";
}
.icon-bubble:before {
  content: "\47";
}
.icon-arrow-up:before {
  content: "\48";
}
.icon-sort-z-a:before {
  content: "\49";
}
.icon-star:before {
  content: "\4a";
}
.icon-blank-link:before {
  content: "\4b";
}
.icon-service:before {
  content: "\4c";
}
.icon-attention:before {
  content: "\4d";
}
.icon-bank:before {
  content: "\4e";
}
.icon-cursor:before {
  content: "\4f";
}
.icon-notification-ask:before {
  content: "\50";
}
.icon-notification-error:before {
  content: "\51";
}
.icon-notification-info:before {
  content: "\52";
}
.icon-notification-success:before {
  content: "\53";
}
.icon-share:before {
  content: "\54";
}
.icon-arrow-cart:before {
  content: "\55";
}
.icon-arrow-cart-mini:before {
  content: "\56";
}
.icon-print:before {
  content: "\57";
}
.icon-close:before {
  content: "\58";
}
.icon-delivery-address:before {
  content: "\59";
}
.icon-horizontal:before {
  content: "\5a";
}
.icon-plates:before {
  content: "\30";
}
.icon-sort:before {
  content: "\31";
}
.icon-burger:before {
  content: "\32";
}
.icon-compare-1:before {
  content: "\33";
}
.icon-left-arrow:before {
  content: "\34";
}
.icon-phone:before {
  content: "\35";
}
.icon-pin:before {
  content: "\36";
}
.icon-rightt-arrow:before {
  content: "\37";
}
.icon-rocket-benefit:before {
  content: "\38";
}
.icon-search:before {
  content: "\21";
}
.icon-service-benefit:before {
  content: "\39";
}
.icon-user:before {
  content: "\22";
}
.icon-error:before {
  content: "\23";
}
.icon-date:before {
  content: "\24";
}
.icon-cart-1:before {
  content: "\25";
}
.icon-arrow-down-1:before {
  content: "\26";
}
.icon-access:before {
  content: "\27";
}
.icon-access-1:before {
  content: "\28";
}
.icon-arrow-down-2:before {
  content: "\29";
}
.icon-comp:before {
  content: "\2a";
}
.icon-mail:before {
  content: "\2b";
}
.icon-menu:before {
  content: "\2c";
}
.icon-pin-1:before {
  content: "\2d";
}
.icon-user-1:before {
  content: "\2e";
}
.icon-search-benefit:before {
  content: "\2f";
}
.icon-like:before {
  content: "\3a";
}
.icon-proof:before {
  content: "\3b";
}
.icon-reload:before {
  content: "\3c";
}
.icon-rounded-add-button:before {
  content: "\3d";
}
.icon-credit-pig:before {
  content: "\3e";
}
.icon-printer:before {
  content: "\3f";
}
.icon-1-1:before {
  content: "\40";
}
.icon-2:before {
  content: "\5b";
}
.icon-3:before {
  content: "\5d";
}
.icon-4:before {
  content: "\5e";
}
.icon-like-1:before {
  content: "\5f";
}
