body {
	font-family: "PT Sans";
	-webkit-font-smoothing: antialiased;
	background-color: rgb(246, 246, 246);
}

input:focus, button:focus {
	outline:none;
}

/*----------------------------------сетка*/
.container {

	padding-right: 10px;
	padding-left: 10px;

}


.row {
	margin-right: -10px;
	margin-left: -10px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	padding-right: 10px;
	padding-left: 10px;
}

@media (min-width: 1200px){
	.container {
		max-width: 1200px;
	}
}

.overflow-layout{
	overflow: hidden;
}

/*---------------------------------ссылки*/
.link{
	cursor: pointer;
	transition: .2s;
}
.link:hover{
	color: #FC5808!important;
	text-decoration: none;
}
.link--color-grey{
	color: #4E4E4E;
}

.link--color-blue{
	color: #0d61af;

}
.link--color-black{
	color: #000;
}
.link--dropdown{
	position: relative;
	padding-right: 16px;
}
.link--dropdown:after{
	content: "\66";
	font-family: "mydns" !important;
	position: absolute;
	right: 0;    
}


/*-----------------------типографика*/
h1, .h1 {
	font-size: 2.25rem;
	line-height: 1.3;
	font-weight: 700;
}

h2, .h2 {
	font-size: 1.5rem;
	line-height: 1.3;
	font-weight: 700;
}

h3, .h3 {
	font-size: 1.125rem;
	line-height: 1.3;
	font-weight: 700;
}

h4, .h4 {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.3rem;
}

h5, .h5 {
	font-size: 1rem;
	line-height: 1.3rem;
	font-weight: 700;
}

.small {
	font-size: 0.875rem;
}
.extrasmall{
	font-size: .75rem;
}

/* ------------------Кнопки---------------*/

.btn.btn--color-blue{
	background: #1D9DE8 linear-gradient(180deg, #14BDF0 0%, #008EF8 100%);
	border-radius: 8px;
	color:#fff;
	padding: .5rem 1rem;
	font-weight: 700;
	border: none;
	transition: .2s;

}
.btn--color-blue:hover{
	background: #1D9DE8 linear-gradient(180deg, #39D1FF 0%, #1287DE 72%);
	box-shadow: inset 0 -2px 0 0 rgba(0,0,0,0.20);

}
.btn--color-blue:active{
	background: #1D9DE8;
	box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.20);
}
.btn.btn--color-white{
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	border-radius: 8px;
	color:#000;
	padding: .5rem 1rem;
	font-weight: 700;
	transition: .2s;
}
.btn--color-white:hover{
	background: #FF902D linear-gradient(-180deg, rgba(255,188,11,0.99) 0%, #FF7400 100%);
	box-shadow: inset 0 -2px 0 0 rgba(0,0,0,0.20);
	color:#fff;
	border: 1px solid #FC7B08;
}
.btn--color-white:active{
	background: #FC7B08;
	box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.20);
	color:#fff;
	border: 1px solid #FC7B08;

}





/*------------Навигация*/
.nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav__link{
	margin-right: 1rem;
}
.nav__link:last-child{
	margin-right: 0;
}
/*-------карточка*/

.card {
	border-radius: .5rem;
	border: none;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
	transition: .5s;
	overflow: hidden;
}

.card-body {
	flex: 1 1 auto;
	padding: 1.5rem;
}	

@media (max-width: 992px){
	.card-mobile{
		margin: 0 -10px;
		border-radius: 0;

	}
	.card-body {
		flex: 1 1 auto;
		padding: 1rem;
	}	
}


/*Главный слайдер*/



.mainbanner  .swiper-slide img{
	width: 100%

}




.swiper-container{
	width: 100%;
}

.sw-button-prev, .sw-container-rtl .sw-button-next {
	left: .5rem;
	right: auto;
	transform: translateX(-10px) translateY(-50%);

}

.sw-button-next, .sw-container-rtl .sw-button-prev {
	right: .5rem;
	left: auto;
	transform: translateX(10px) translateY(-50%);

}

.swiper-container:hover .sw-button-next, .swiper-container:hover .sw-button-prev {
	transform: translateX(0) translateY(-50%);
	opacity: 1
}
.sw-button-next, .sw-button-prev {
	position: absolute;
	top: 50%;
	height: 35px;
	width: 35px;
	z-index: 10;
	cursor: pointer;
	background: #fff;
	box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
	opacity: 0;
	transition: opacity .3s,  transform .3s;
	border-radius: 50%;
	text-align: center;
}

.sw-button-next:hover, .sw-button-prev:hover{
	background: #fc8908;
	color:#fff;
	transition: color .2s,  background .2s;
}


.main-banner-mob.swiper-container{
	overflow: visible;
}
.main-banner-mob .swiper-slide{
	width: auto;
	margin-left: 10px;
	border-radius: .5rem;
	overflow: hidden;
}


.main-banner-mob .swiper-slide:last-child{
	margin-right: 10px;
}
.main-banner-mob .swiper-slide img {
	width: calc(100vw - 50px);
}


.tab-swiper .swiper-slide{
	width: auto!important;


}
.tab-swiper .nav{
	flex-wrap: nowrap;
	width: auto;
	display: inline-flex;
}
.tab-swiper .nav-item{
	white-space: nowrap;
}


.product-swiper.swiper-container-horizontal > .swiper-scrollbar {
	position: relative;

	left: 0; 
	bottom: 3px;
	z-index: 50;
	height: 3px;
	width: 100%;
	margin-top: 1.5rem;
}


.product-swiper .swiper-scrollbar-drag {
	height: 100%;
	width: 100%;
	position: relative;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	left: 0;
	top: 0;
}












/*----табы слайдера */


.nav.nav-pills {
	padding: 1.5rem  1.5rem  0  1.5rem ;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: #000;
	background-color: #eee;
}

.nav-link {
	padding: .25rem .75rem;
	font-size: .875rem;
	margin-right: .5rem;

}

@media (max-width: 992px){
	.nav-link {
background:#fff;

}
.nav.nav-pills {
	padding:  10px ;
}

}

/*.  промоблок магазинов*/
.shop-promo__title{
	line-height: 16px
}
.shop-promo__title-arrow{
	margin-left: .5rem;
	padding-top: .125rem; 
}
.shop-promo__img{
	width: 36px;
	height: auto;
}



.servise-mobile-promo__cabinet{
	border-right: 1px solid #eee;
}

/* ------слайдер-----наборы--------*/
@media (max-width: 992px){

.sets-slider__title {
    font-size: 14px;
}
	.swiper-slide.sets-slider__slide{
	width: 240px;
	height: 120px;
	margin-left: 10px;
}
.sets-slider__img{
	width: 100px;
	height: auto;
}


.swiper-container.sets-slider.swiper-container-horizontal{
	overflow: visible;
}


}

.sets-slider__title{
	line-height: 1.2
}





/*плитка товара*/
@media (max-width: 992px){

	.product-plate__link{
		font-size: 14px;
	}
}


.product-plate__image-wrap{
	height: 150px;
	position: relative;
	margin-bottom: 8px;
}

.product-plate__image{
	max-height: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 90%;
}

.product-plate__link{
	height: 46px;
	overflow: hidden;
}
.product-plate__rating-wrap{
	overflow: hidden;
	height: 22px;
}


.product-plate__rating-wrap .rate span{
	padding-right: 0.25rem;
}


/*-----------------------акциии*/

.action__icon-wrap {
    position: absolute;
    right: 1.75rem;
    font-size: 30px;
    color: #ff860f;
}


/*---------блоги*/
.post{
	padding-bottom: 2rem;
	height: 100%;
}


.post-blog{
	padding-bottom: 20px;
	height: 100%;
}

.blog__wrap{
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
	-webkit-column-gap: 40px;
	-moz-column-gap: 40px;
	column-gap: 40px;
	orphans: 1;
	widows: 1;
}
@media (min-width: 768px){
	.blog__wrap{
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 32px;
		-moz-column-gap: 32px;
		column-gap: 32px;
		orphans: 1;
		widows: 1;
	}
}

@media (min-width: 992px){
	.blog__wrap{
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
		-webkit-column-gap: 20px;
		-moz-column-gap: 20px;
		column-gap: 20px;
		orphans: 1;
		widows: 1;
	}
}





.blog__item{
	display: inline-block;
	width: 100%
}


