body {
	font-family: "PT Sans";
	-webkit-font-smoothing: antialiased;
	background-color: rgb(246, 246, 246);
}

input:focus, button:focus {
	outline:none;
}





/*------------Кнопкии*/
.btn{
	border-radius: .5rem;

}


.btn-outl-orange{
	background: #FFFFFF;
	border: 1px solid #FC7B08;
	color:#FC7B08;
	padding: .5rem 1rem;
	transition: .2s;
}


.btn-outl-orange:hover{
	background: #FF902D linear-gradient(-180deg, rgba(255,188,11,0.99) 0%, #FF7400 100%);
	box-shadow: inset 0 -2px 0 0 rgba(0,0,0,0.20);
	color:#fff;
	border: 1px solid #FC7B08;
}



.btn-outl-orange:active{
	background: #FC7B08;
	box-shadow: inset 0 2px 0 0 rgba(0,0,0,0.20);
	color:#fff;
	border: 1px solid #FC7B08;

}






/*----------------------------------сетка*/
.container {

	padding-right: 10px;
	padding-left: 10px;

}
.col-auto{
	width: auto;
	padding-right: 10px;
	padding-left: 10px;
}

.row {
	margin-right: -10px;
	margin-left: -10px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	padding-right: 10px;
	padding-left: 10px;
}



@media (min-width: 576px){
	.container {
		max-width: 100%;
	}
}

@media (min-width: 768px){
	.container {
		max-width: 100%;
	}
}
@media (min-width: 992px){
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px){
	.container {
		max-width: 1200px;
	}
}

.overflow-layout{
	overflow: hidden;
}

/*---------------------------------ссылки*/
.link{
	cursor: pointer;
	transition: .2s;
}
.link:hover{
	color: #FC5808!important;
	text-decoration: none;
}
.link--color-grey{
	color: #4E4E4E;
}

.link--color-blue{
	color: #0d61af;

}
.link--color-black{
	color: #000;
}
.link--dropdown{
	position: relative;
	padding-right: 16px;
}
.link--dropdown:after{
	content: "\71";
	font-family: "homepage-dns" !important;
	position: absolute;
	right: 0;    
}

.link--pill{
	border-radius: .25rem;
	padding: .25rem .75rem;
	background-color: #fff;
	display: block;
}
.link--pill-active{
	background-color: #eee;
}



/*-----------------------типографика*/
h1, .h1 {
	font-size: 2.25rem;
	line-height: 1.3;
	font-weight: 700;
}

h2, .h2 {
	font-size: 1.5rem;
	line-height: 1.3;
	font-weight: 700;
}

h3, .h3 {
	font-size: 1.125rem;
	line-height: 1.3;
	font-weight: 700;
}

h4, .h4 {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.3rem;
}

h5, .h5 {
	font-size: 1rem;
	line-height: 1.3rem;
	font-weight: 700;
}

.small {
	font-size: 0.875rem;
	line-height: 1.4;
}
.extrasmall{
	font-size: .75rem;
}


@media (max-width: 992px){


	h2, .h2 {
		font-size: 1.25rem;
		line-height: 1.3;
		font-weight: 700;
	}
}





/*------------Навигация(горизонтальный список)*/
.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav--horizontal {
	display: flex;
	flex-wrap: wrap;
}

.nav--vertical {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.nav__link{
	
}

.nav__link--horizontal{
	margin-right: 1rem;
}

.nav__link--vertical{
	margin-bottom: .25rem;
}

.nav__link--vertical:last-child{
	margin-bottom: 0;
}

.nav__link--horizontal:last-child{
	margin-right: 0;
}








/*-------карточка*/

.card {
	border-radius: .5rem;
	border: none;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
	transition: .5s;
	overflow: hidden;
}
.card--no-round{
	border-radius: 0;
}

.card-body {
	flex: 1 1 auto;
	padding: 1.5rem;
}	

@media (max-width: 992px){
	.card-mobile{
		margin: 0 -10px;
		border-radius: 0;


	}
	.card-body {
		flex: 1 1 auto;
		padding: 1rem;
	}	
}


/*Главный слайдер*/



.mainbanner  .swiper-slide img{
	width: 100%

}




.swiper-container{
	width: 100%;
}

.sw-button-prev, .sw-container-rtl .sw-button-next {
	left: .5rem;
	right: auto;
	transform: translateX(-10px) translateY(-50%);

}

.sw-button-next, .sw-container-rtl .sw-button-prev {
	right: .5rem;
	left: auto;
	transform: translateX(10px) translateY(-50%);

}

.swiper-container:hover .sw-button-next, .swiper-container:hover .sw-button-prev {
	transform: translateX(0) translateY(-50%);
	opacity: 1
}
.sw-button-next, .sw-button-prev {
	position: absolute;
	top: 50%;
	height: 35px;
	width: 35px;
	z-index: 10;
	cursor: pointer;
	background: #fff;
	box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
	opacity: 0;
	transition: opacity .3s,  transform .3s;
	border-radius: 50%;
	text-align: center;
}

.sw-button-next:hover, .sw-button-prev:hover{
	background: #fc8908;
	color:#fff;
	transition: color .2s,  background .2s;
}


.main-banner-mob.swiper-container{
	overflow: visible;
}
.main-banner-mob .swiper-slide{
	width: auto;
	margin-left: 10px;
	border-radius: .5rem;
	overflow: hidden;
}


.main-banner-mob .swiper-slide:last-child{
	margin-right: 10px;
}
.main-banner-mob .swiper-slide img {
	width: calc(100vw - 50px);
	max-width: 580px;
}


.tab-swiper .swiper-slide{
	width: auto!important;


}
.tab-swiper .nav{
	flex-wrap: nowrap;
	width: auto;
	display: inline-flex;
}
.tab-swiper .nav-item{
	white-space: nowrap;
}


.product-swiper.swiper-container-horizontal > .swiper-scrollbar {
	position: relative;

	left: 0; 
	bottom: 3px;
	z-index: 50;
	height: 3px;
	width: 100%;
	margin-top: 1.5rem;
}


.product-swiper .swiper-scrollbar-drag {
	height: 100%;
	width: 100%;
	position: relative;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	left: 0;
	top: 0;
}


.product-swiper-mobile.swiper-container-horizontal > .swiper-scrollbar {
	position: relative;

	left: 1rem; 
	bottom: 3px;
	z-index: 50;
	height: 3px;
	width: calc(100% - 2rem);
	margin: 1rem 0;
}


.product-swiper-mobile .swiper-scrollbar-drag {
	height: 100%;
	width: 100%;
	position: relative;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	left: 0;
	top: 0;
}
.product-swiper-mobile .swiper-slide{
	padding-left: 1rem;
}




.product-swiper.desctop-plate{
	border-radius: .5rem;
    border: none;
    position: relative;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
    -webkit-transition: .5s;
    transition: .5s;
    overflow: hidden;
    background-color: #fff;
    padding: 1.5rem;
}





/*.  промоблок магазинов*/
.shop-promo__title{
	line-height: 16px
}
.shop-promo__title-arrow{
	margin-left: .5rem;
	padding-top: .125rem; 
}
.shop-promo__img{
	width: 36px;
	height: auto;
}



.servise-mobile-promo__cabinet{
	border-right: 1px solid #eee;
}





/*плитка товара*/
@media (max-width: 992px){

	.product-plate__link{
		font-size: 14px;
	}
}


.product-plate__image-wrap{
	height: 150px;
	position: relative;
	margin-bottom: 8px;
}

.product-plate__image{
	max-height: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 90%;
}

.product-plate__link{
	height: 46px;
	overflow: hidden;
}
.product-plate__rating-wrap{
	overflow: hidden;
	height: 22px;
}


.product-plate__rating-wrap .rate span{
	padding-right: 0.25rem;
}


/*-----------------------акциии*/

.action__icon-wrap {
	position: absolute;
	right: 1.75rem;
	font-size: 30px;
	color: #ff860f;
}






.fi-ripple-container{
	position: relative;
	overflow: hidden;
	contain: content;
	transform: translateZ(0);
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}



.fi-ripple {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 100%;
	-ms-transform: scale(0);
	-webkit-transform: scale(0) translateZ(0);
	transform: scale(0) translateZ(0);
	contain: strict;
	will-change: opacity transform;
	transition: opacity .2s ease,-webkit-transform .6s cubic-bezier(.08,.81,.07,1);
	background-color: inherit;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	opacity: .08
}










/*--------новости*/







.news-block__title-button{
background: #fff;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.05);
    border-radius: 8px;
    padding: 3px 0 0 3px;
    height: 24px;
    width: 24px;
    margin-left: .5rem;
    font-size: 16px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
}













