body {
    font-family: "PT Sans";
    -webkit-font-smoothing:antialiased;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}
.rounded {
    border-radius: .5rem!important;
}

.nav-link {
    white-space: nowrap;
    padding: 1rem 0 ;
    margin-right: 2.5rem;
}

.nav {
    overflow-x: auto;
    overflow-y: hidden;
}
.nav-link {

    padding: .5rem 0;

}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
          border-color: rgb(246, 246, 246);
    box-shadow: inset 0 -2px orange;
    background: none;
    color: orange;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
       border-color: rgb(246, 246, 246);
}
.bg-light {
    background-color: #f6f6f6!important;
}
.card-body {
    padding: 2rem;
}

a {
    color: #0D61AF;
    transition: all .2s;
}

a:hover {
    color: #FC5808;
    text-decoration: none;
}

h1, .h1 {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 700;
}

h2, .h2 {
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 700;
}

h3, .h3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
}

h4, .h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
}

.small {
    font-size: 0.875rem;
}

.lh-12{
    line-height: 1.2;
}

.btn-secondary {
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    background-color: #FFFFFF;
/*    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);*/
    color: black;
    padding: .5rem 0.75rem;
}



.btn-secondary:hover {
    background: #FC8507;
    color: #FFF;
    border: 1px solid #FC8507;
    transition: .4s;
}

.btn-primary {
    background: linear-gradient(0deg, #FC8507 0%, #FD9B09 100%);
    box-shadow: 0 4px 5px 0 #D9D9D9;
    color: white;
    font-weight: 700;
    padding: .5rem 0.75rem;
    border-radius: 8px;
    border: none;
}


.card {
    border-radius: .5rem;
    border: none;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
    transition: .5s;
    overflow: hidden;
}

.card.float:hover {

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.08);
    transform: translateY(-2px);
}


.card.float:hover .btn-secondary{
  background: #FC8507;
    color: #FFF;
    border: 1px solid #FC8507;
    transition: .4s;
}


.bb-1 {
    border-bottom: 1px solid #eee;
}

.bb-5 {
    border-bottom: 5px solid #eee;
}

.bt-5 {
    border-top: 5px solid #eee;
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}



.category__image{
    height: 120px;
    margin-bottom: 24px;
    align-items: flex-end;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;

}








.action_bonus{
    background: #fff url("https://i.snag.gy/75tnw1.jpg") no-repeat 100% bottom;
    height: 200px;
}
.action_sale{
    background: #fff url("https://i.snag.gy/dxSlBo.jpg") no-repeat 90% bottom;
        height: 200px;
}
.action_gift{
    background: #fff url("https://i.snag.gy/jiz1EN.jpg") no-repeat 50% bottom;
        height: 200px;
}

.benefit_bonus{
        background: #fff url(https://i.snag.gy/dRSKOJ.jpg) no-repeat 240%  130%;
    background-size: 80%;

}

.benefit_bonus:hover{
        background: #fff url(https://cdn.dribbble.com/users/796725/screenshots/3731828/coin.gif) no-repeat 240%  130%;
    background-size: 80%;
}




.benefit_builder{
      background: #fff url(https://i.snag.gy/7c0Aqj.jpg) no-repeat  100% 0%;
    background-size: 30%;
}


.benefit_builder:hover{
         background: #fff url(https://cdn.dribbble.com/users/409459/screenshots/2999650/nfranim.gif) no-repeat  100% 0%;
    background-size: 30%;
}
.benefit_order{
      background: #fff url(https://i.snag.gy/qTaj4L.jpg) no-repeat 140% -41px;
    background-size: 60%;
}


.benefit_order:hover{
          background: #fff url(https://cdn.dribbble.com/users/409459/screenshots/2024569/calc.gif) no-repeat 140% -41px;
    background-size: 60%;
}




.w-20{
    width: 20%
}

.product-plate-image__wrap{
    height: 170px;
       position: relative;
       margin-bottom: 24px;

}
.product-plate-image{
    max-height: 80%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
        max-width: 80%;
   


}

.brand__item{
    filter: grayscale(100%);
    opacity:  .4;
    transition: .5s;
    cursor: pointer;
}


.brand__item:hover{
    filter: none;
    opacity:  1;
}

/*
.menu {
    top: -75px;
    position: fixed;
    height: 60px;
    background-color: #007bff;
    color: white;
    width: 100%;
    transition: all .5s;
*/    

  .menu {
        height: 60px;
  }


.btn-light {
    box-shadow: 0 5px 18px 0px rgba(0, 0, 0, 0.15);
}



  /*menu*/
  .cd-morph-dropdown {
    position: relative;
    height: 60px;
    background-color: #007bff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
  }
  .cd-morph-dropdown::before {
    /* never visible - used in JS to check mq */
    content: 'mobile';
    display: none;
  }
  .cd-morph-dropdown .nav-trigger {
    /* menu icon - visible on small screens only */
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    /* replace text with icon */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
  }
  .cd-morph-dropdown .nav-trigger span, .cd-morph-dropdown .nav-trigger span::after, .cd-morph-dropdown .nav-trigger span::before {
    /* these are the 3 lines of the menu icon */
    position: absolute;
    background-color: #fff;
    height: 3px;
    width: 26px;
  }
  .cd-morph-dropdown .nav-trigger span {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
  }
  .cd-morph-dropdown .nav-trigger span::after, .cd-morph-dropdown .nav-trigger span::before {
    content: '';
    left: 0;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .cd-morph-dropdown .nav-trigger span::before {
    -webkit-transform: translateY(-9px);
    -ms-transform: translateY(-9px);
    transform: translateY(-9px);
  }
  .cd-morph-dropdown .nav-trigger span::after {
    -webkit-transform: translateY(9px);
    -ms-transform: translateY(9px);
    transform: translateY(9px);
  }
  .cd-morph-dropdown.nav-open .nav-trigger span {
    background-color: transparent;
  }
  .cd-morph-dropdown.nav-open .nav-trigger span::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .cd-morph-dropdown.nav-open .nav-trigger span::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .cd-morph-dropdown .main-nav {
    display: none;
  }
  .cd-morph-dropdown .morph-dropdown-wrapper {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 1.2em 5%;
    box-shadow: inset 0 1px 0 #e6e6e6;
    background-color: #FFFFFF;
        z-index: 100;
  }
  .cd-morph-dropdown.nav-open .morph-dropdown-wrapper {
    display: block;
  }
  .cd-morph-dropdown .dropdown-list > ul > li {
    margin-bottom: 3.3em;
  }


  @media only screen and (min-width: 1000px) {
    .cd-morph-dropdown {

      height: 60px;
      left: 0;
      top: 0;
      width: 100%;
      padding: 0;

      background-color: #fff;
      color: black;
    }
    .cd-morph-dropdown::before {
      content: 'desktop';
    }
    .cd-morph-dropdown .nav-trigger {
      display: none;
    }
    .cd-morph-dropdown .main-nav {
      display: block;
    }
    .cd-morph-dropdown .main-nav > ul > li {
      display: inline-block;
      float: left;
    }
    .cd-morph-dropdown .main-nav > ul > li > a {
      display: block;
      padding: 0 2rem 0 0;
      height: 60px;
      line-height: 60px;
      color: #0D61AF;
      font-size: 0.875rem;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-transition: opacity .2s;
      transition: opacity .2s;
    }
    .cd-morph-dropdown.is-dropdown-visible .main-nav > ul > li > a {
      /* main navigation hover effect - on hover, reduce opacity of elements not hovered over */
      opacity: .6;
    }
    .cd-morph-dropdown.is-dropdown-visible .main-nav > ul > li.active > a {
      opacity: 1;
    }
    .cd-morph-dropdown .morph-dropdown-wrapper {
      /* dropdown wrapper - used to create the slide up/slide down effect when dropdown is revealed/hidden */
      display: block;
      top: 58px;
      /* overwrite mobile style */
      width: auto;
      padding: 0;
      box-shadow: none;
      background-color: transparent;
      /* Force Hardware acceleration */
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      will-change: transform;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
      -webkit-transition: -webkit-transform .3s;
      transition: -webkit-transform .3s;
      transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s;
      z-index: 100;
    }
    .cd-morph-dropdown.is-dropdown-visible .morph-dropdown-wrapper {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    .cd-morph-dropdown .dropdown-list {
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      will-change: transform, width, height;
      -webkit-transition: visibility .3s;
      transition: visibility .3s;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    }
    .no-csstransitions .cd-morph-dropdown .dropdown-list {
      display: none;
    }
 .dropdown-mark::before {
      /* dropdown top triangle */
    content: '';
    position: relative;
    display: block!important;
    bottom: 100%;
    left: 50%;
    right: auto;
    top: -15px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 10px;
    width: 10px;
    border: 8px solid transparent;
    border-bottom-color: #f6f6f6;
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    z-index: 100000;
  
    }

    .cd-morph-dropdown.is-dropdown-visible .dropdown-mark::before {
      opacity: 1;
    }
    .cd-morph-dropdown .dropdown-list > ul {
      position: relative;
      z-index: 1;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
    .cd-morph-dropdown.is-dropdown-visible .dropdown-list {
      visibility: visible;
      -webkit-transition: width .3s, height .3s, -webkit-transform .3s;
      transition: width .3s, height .3s, -webkit-transform .3s;
      transition: transform .3s, width .3s, height .3s;
      transition: transform .3s, width .3s, height .3s, -webkit-transform .3s;
    }
    .cd-morph-dropdown.is-dropdown-visible .dropdown-list::before {
      opacity: 1;
    }
    .cd-morph-dropdown .dropdown {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      -webkit-transition: opacity .3s, visibility .3s;
      transition: opacity .3s, visibility .3s;
    }
    .cd-morph-dropdown .dropdown.active {
      opacity: 1;
      visibility: visible;
    }
    .cd-morph-dropdown .dropdown.move-left .content {
      -webkit-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
      transform: translateX(-10px);
    }
    .cd-morph-dropdown .dropdown.move-right .content {
      -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
      transform: translateX(10px);
    }
 
    .cd-morph-dropdown .content {
      -webkit-transition: -webkit-transform .3s;
      transition: -webkit-transform .3s;
      transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s;
      text-align: left;
      width: 100vw;
  height: 300px;
      padding: 1.5rem 1.5rem 0 1.5rem;
    }



    .cd-morph-dropdown .bg-layer {
      /* morph dropdown background */
      position: absolute;
      top: 0;
      left: 0;
      height: 300px;
      width: 100vw;
      background: #f6f6f6;
      opacity: 0;
      -webkit-transition: opacity .3s;
      transition: opacity .3s;
      -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
      transform-origin: top left;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      will-change: transform;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    .cd-morph-dropdown.is-dropdown-visible .bg-layer {
      opacity: 1;
      -webkit-transition: opacity .3s, -webkit-transform .3s;
      transition: opacity .3s, -webkit-transform .3s;
      transition: transform .3s, opacity .3s;
      transition: transform .3s, opacity .3s, -webkit-transform .3s;
    }
  }

  @media only screen and (min-width: 992px) {
    .cd-morph-dropdown .bg-layer {
      /* morph dropdown background */
      position: absolute;
      top: 0;
      left: 0;
    height: 300px;
      width: 100vw;
      background: #f6f6f6;
      opacity: 0;
      transition: opacity .3s;
      transform-origin: top left;
    }
    .cd-morph-dropdown.is-dropdown-visible .bg-layer {
      opacity: 1;
      transition: transform .3s, opacity .3s;
    }
  }

.p-rel{
  position: relative;
}

.head{
    height: 75px;
         background: #fff url(https://i.snag.gy/mSuLHg.jpg) no-repeat center;
             
             z-index: 5000000;
    position: relative;
}
.head2{
    height: 92px;
    background: #fff url(https://i.snag.gy/45RkA0.jpg) no-repeat center top;
             
             z-index: 5000000;
    position: relative;
}
  .search-input{
    width: 240px;
    height: 60px;
    border: none;
    border-radius: 0;
    padding: .5rem;
    font-size: 0.875rem;
    background: #fff url("https://i.snag.gy/B5h4Cv.jpg") no-repeat center right;
    transition: .5s;
    position: absolute;
    right: 0;
  }

  .search-input:focus  { 
    outline: none; 
    width: 1180px;
    z-index: 5000;
    

  }

.main-catalog{
  position: absolute;
  left: 15px;
}
.main-catalog-2{
   position: absolute;
  width: 100%;
  padding-left: 150px;
}

.acton-link-wrap{
    width: 192px;

}
.acton-link{
    color: #fc8908;
}



.has-dropdown {
    display: inline-block;
    font-size: 0.875rem;
    height: 60px;
    padding: 20px 0px;
}


.main-slider{
 background: url(https://i.snag.gy/9ZOWh8.jpg) no-repeat center;
      background-color: #fff;
  height: 270px; 
}









.sw-button-prev, .sw-container-rtl .sw-button-next {
    left: 2rem;
    right: auto;
    transform: translateX(-10px);
  
}

.sw-button-next, .sw-container-rtl .sw-button-prev {
right: 2rem;
    left: auto;
   transform: translateX(10px);

}



.arrow-control:hover .sw-button-next, .arrow-control:hover .sw-button-prev {


transform: translateX(0);
opacity: 1

}


.sw-button-next, .sw-button-prev {
    position: absolute;
    top: 50%;
        height: 35px;
    width: 35px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background: #fff;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    opacity: 0;
      transition: opacity .3s,  transform .3s;
    border-radius: 50%;
}

.sw-button-next:hover, .sw-button-prev:hover{
 background: #fc8908;
 color:#fff;
 transition: color .2s,  background .2s;
}


.swiper-set{
  overflow: hidden;
}



