<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Главная</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=0">

	<link rel="stylesheet prefetch" href="css/bootstrap.min.css">
	<link href="css/swiper.min.css" rel="stylesheet">
	<link href="css/c-style.css" rel="stylesheet">
	<link href="https://file.myfontastic.com/QetMhtPrQUo9korwEw7VkX/icons.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
</head>
<body>
	<div id="app">
		<div class="header">
			<div class="header__container container">
				<div class="header__block mr-3">
					<div class="header__top-line ">
						<div class="header__logo">
							<img src="https://i.snag.gy/iSpaHI.jpg" class="mr-2" alt="">
							<img src="https://i.snag.gy/ktOpuU.jpg" alt="">
						</div>
					</div>
					<div class="header__bottom-line">
						<div class="header__main-nav">
							<div class="main-nav main-nav--open">
								<div class="main-nav__icon">
									<div class="icon-line-menu"></div>
								</div>
								<div class="main-nav__desc">Каталог</div>
							</div>
							<div class="header__main-nav-list">
								<ul class="nav-list nav-list--open">

									<li class="nav-list__item" v-for="(mainNavItem) in mainNavs"> <img class="nav-list__img" :src="mainNavItem.img" alt="">{{mainNavItem.title}}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="header__block header__block--grow mr-5">
					<div class="header__top-line">
						<div class="header__city">
							<div class="header__link">
								<a class="link link--color-grey" href="#">Владивосток</a>
							</div>
						</div>
						<div class="header__nav">
							<ul class="nav">
								<li class="nav__link">
									<a class="link link--color-grey link--dropdown" href="#">Магазины</a>
								</li>
								<li class="nav__link">
									<a class="link link--color-grey link--dropdown" href="#">Покупателям</a>
								</li>
								<li class="nav__link">
									<a class="link link--color-grey link--dropdown" href="#">Наши проекты</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="header__bottom-line">
						<div class="header__search-form">
							<div class="search-form">
								<input type="text" class="search-form__field" placeholder="Поиск среди более 100 000 товаров">
								<input type="text" class="search-form__select">
								<button class="search-form__submit">Найти</button>
							</div>
						</div>
					</div>
				</div>
				<div class="header__block ">
					<div class="header__top-line">
						<div class="header__phone">8-800-77-07-999</div>
						<div class="header__user">Вход | Регистрация</div>
					</div>
					<div class="header__bottom-line">
						<div class="header__store-control">
							<div class="store-control">
								<div class="store-control__icon">
									<div class="icon-cart"></div>
								</div>
								<div class="store-control__desc">Сравнение</div>
							</div>
						</div>
						<div class="header__store-control">
							<div class="store-control">
								<div class="store-control__icon">
									<div class="icon-cart"></div>
								</div>
								<div class="store-control__desc">Избранное</div>
							</div>
						</div>
						<div class="header__store-control">
							<div class="store-control">
								<div class="store-control__icon">
									<div class="icon-cart"></div>
								</div>
								<div class="store-control__desc">Корзина</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="container__main-right">
				<div class="card mb-3">
					<swiper :options="mainBannerOption">
						<swiper-slide v-for="(mainbanner, index) in mainbanners" :key="index">
							<img  :src="mainbanner.img" alt="">
						</swiper-slide>
						<div class="swiper-pagination" slot="pagination"></div>
						<div class="ml-4 sw-button-prev" slot="button-prev"><div class="icon-arrow-left pt-2"></div></div>
						<div class="mr-4 sw-button-next" slot="button-next"><div class="icon-arrow-right pt-2"></div></div>
					</swiper>
				</div>
				<div class="row mb-3">
					<div class="col-4">
						<div class="card  benefit_order">
							<div class="card-body">
								<div class="h2">Акции</div>
								<div class="small  mb-2 text-secondary">
									Сотни уникальных предложений,<br>скидки,  рассрочки, кэшбэк
								</div>
								<div class="d-flex">
									<a href="" class="small mr-3">Все акции</a>
									<a href="" class="small">Товары со скидками</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="card  benefit_builder">
							<div class="card-body ">
								<div class="h2 mb-2">Конфигуратор ПК</div>
								<div class="small mb-2 text-secondary">
									Собери компьютер сам - легко <br>и без проблем с совместимостью.
								</div>
								<div class="d-flex">
									<a href="" class="small mr-3">Собрать самому</a>
									<a href="" class="small">Cмотреть сборки</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="card  benefit_bonus">
							<div class="card-body">
								<div class="h2">Программа ProZaPass</div>
								<div class="small  mb-2 text-secondary">
									Получай бонусы и оплачивай <br>ими до 100% стоимости заказа.
								</div>
								<div class="d-flex">
									<a href="" class="small mr-3">Регистрация в программе</a>
									<a href="" class="small">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card mb-3">
					<div class="card-body">
						<div class="d-flex justify-content-between align-items-center mb-4">
							<div class="h2 mb-0">Самое время покупать</div>
							<ul class="nav nav-pills " id="pills-tab" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#hot" role="tab" aria-controls="hot" aria-selected="true">Спасаемся от жары</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#water" role="tab" aria-controls="water" aria-selected="false">Горячей воде быть!</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#weekend" role="tab" aria-controls="weekend" aria-selected="false">С собой в отпуск</a>
								</li>
							</ul>
						</div>
						<div class="tab-content pt-2" id="pills-tabContent">
							<div class="tab-pane fade show active" id="hot" role="tabpanel" aria-labelledby="pills-home-tab">
								<swiper :options="setsOption" v-for="(set, index) in sets" :key="index">
									<swiper-slide v-for = "(aircond, index) in set.air" :key="index">
										<div class="d-flex" >
											<img  :src="aircond.img" alt="" class="mr-3">
											<div class="d-flex flex-column">
												<div class="small mb-2">
													<div class="link link--color-grey">{{aircond.title}}</div>
												</div>
												<div class="h4 mb-0">от {{aircond.price | formatedNumber}} р.</div>
											</div>
										</div>
									</swiper-slide>
									<div class="sw-button-prev" slot="button-prev"><div class="icon-arrow-left pt-2"></div></div>
									<div class="sw-button-next" slot="button-next"><div class="icon-arrow-right pt-2"></div></div>
								</swiper>
							</div>
							<div class="tab-pane fade" id="water" role="tabpanel" aria-labelledby="pills-profile-tab">
								<swiper :options="setsOption" v-for="(set, index) in sets" :key="index">
									<swiper-slide v-for = "(boilerP, index) in set.boiler" :key="index">
										<div class="d-flex" >
											<img  :src="boilerP.img" alt="" class="mr-3">
											<div class="d-flex flex-column">
												<div class="small mb-2">{{boilerP.title}}</div>
												<div class="h4 mb-0">от {{boilerP.price | formatedNumber}} р.</div>
											</div>
										</div>
									</swiper-slide>
									<div class="sw-button-prev" slot="button-prev"><div class="icon-arrow-left pt-2"></div></div>
									<div class="sw-button-next" slot="button-next"><div class="icon-arrow-right pt-2"></div></div>
								</swiper>
							</div>
							<div class="tab-pane fade" id="weekend" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
						</div>
					</div>
				</div>
				<div class="card mb-3">
					<div class="card-body">
						<div class="d-flex justify-content-between align-items-center mb-4">
							<div class="h2 mb-0">Лучшее за неделю</div>
							<ul class="nav nav-pills " id="pills-tab" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#popular" role="tab" aria-controls="popular" aria-selected="true">Популярные</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#comments" role="tab" aria-controls="comments" aria-selected="false">Обсуждаемые</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#new-product" role="tab" aria-controls="new-product" aria-selected="false">Новинки</a>
								</li>
							</ul>
						</div>

						<div class="tab-content" id="pills-tabContent">
							<div class="tab-pane fade show active" id="popular" role="tabpanel" aria-labelledby="pills-home-tab">
								<swiper :options="productOption">
									<swiper-slide v-for="(product, index) in products" :key="index">
										<div class="product-plate d-flex flex-column">
											<div class="product-plate__image-wrap">
												<img  :src="product.img" alt="" class="product-plate__image">
											</div>
											<div class="product-plate__link small mb-2">
												<a href="" class="link link--color-grey">{{product.title}}</a>
											</div>
											<div class="h4 mb-0">{{product.price | formatedNumber}} р.</div>
										</div>
									</swiper-slide>
									<div class="sw-button-prev" slot="button-prev"><div class="icon-arrow-left pt-2"></div></div>
									<div class="sw-button-next" slot="button-next"><div class="icon-arrow-right pt-2"></div></div>
								</swiper>
							</div>
							<div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
							<div class="tab-pane fade" id="new-product" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
						</div>
						
					</div>
				</div>
				<div class="card mb-3">
					<div class="card-body">
						<div class="h2 mb-3">DNS клуб - пришем о гаджетах и электронике</div>
						<div class="row">

							<div class="col-8  ">
								<div class="bg-light w-100 h-100 card-body rounded">
									<div class="h2 mb-2 w-75">Обзор клавиатуры BlackWidow Chroma V2. Вторая версия флагмана</div>
								</div>
							</div>
							<div class="col-4 pl-4">
								<div class="d-flex flex-column  h-100">
									<div class="small mb-2">
										Сегодня <a href="">Asus Russia</a>
									</div>
									<div class="h2 mb-2">Обзор наушников HyperX Cloud Core. ГиперХайп</div>

									<div class="mb-2 small">Всем привет! Не так давно я написал обзор Vertex Impress Nero довольно интересного
										недорого
									</div>
									<div class="d-flex flex-row align-items-center justify-content-between mt-auto">
										<div class="d-flex flex-row align-items-center rating-plate">
											<div class="icon-thumb-up text-success pt-1 mr-2"></div>
											<div class="small text-success font-weight-bold ">484</div>
										</div>
										<div class="d-flex flex-row align-items-center  ml-auto mr-4">
											<div class="icon-open-eye text-secondary pt-1 mr-2"></div>
											<div class="small text-secondary">56</div>
										</div>
										<div class="d-flex flex-row align-items-center ">
											<div class="icon-chat-bubble text-secondary pt-1 mr-2"></div>
											<div class="small text-secondary">12</div>
										</div>
									</div>
								</div>
							</div>

						</div>
						
					</div>
				</div>
				<div class="card mb-3">
					<div class="card-body">
						<div class="row">
							<div class="col-2 text-center d-flex align-items-center justify-content-center">
								<img src="https://i.snag.gy/ULAdFT.jpg" alt="" class="brand__item">
							</div>
							<div class="col-2 text-center d-flex align-items-center justify-content-center">
								<img src="https://i.snag.gy/uwH0rc.jpg" alt="" class="brand__item">
							</div>
							<div class="col-2 text-center d-flex align-items-center justify-content-center">
								<img src="https://i.snag.gy/VMdUt1.jpg" alt="" class="brand__item">
							</div>
							<div class="col-2 text-center d-flex align-items-center justify-content-center">
								<img src="https://i.snag.gy/hoTKld.jpg" alt="" class="brand__item">
							</div>
							<div class="col-2 text-center d-flex align-items-center justify-content-center">
								<img src="https://i.snag.gy/pf3jn4.jpg" alt="" class="brand__item">
							</div>
							<div class="col-2 text-center d-flex align-items-center justify-content-center">
								<img src="https://i.snag.gy/YLnV3R.jpg" alt="" class="brand__item">
							</div>
						</div>
					</div>
				</div>

				<div class="card mb-3">
					<div class="card-body">
						<div class="h2 mb-4">Вы недавно смотрели</div>
						<swiper :options="productOption">
							<swiper-slide v-for="(product, index) in products" :key="index">
								<div class="product-plate d-flex flex-column">
									<div class="product-plate__image-wrap">
										<img  :src="product.img" alt="" class="product-plate__image">
									</div>
									<div class="product-plate__link small mb-3">
										<a href="" class="link link--color-grey">{{product.title}}</a>
									</div>
									<div class="h4 mb-0">{{product.price}} р.</div>
								</div>
							</swiper-slide>
							<div class="sw-button-prev" slot="button-prev"><div class="icon-arrow-left pt-2"></div></div>
							<div class="sw-button-next" slot="button-next"><div class="icon-arrow-right pt-2"></div></div>
						</swiper>
					</div>
				</div>

			</div>
			<div class="container__main-left">
				<div class="card mb-4">
					<div class="px-3 small py-2 text-center">
					<div class="link link--color-grey">Уцененные товары</div>
				</div>
				</div>
				<div class="card">
					<div class="card-body">
						<div class="h2">Новости</div>
						<img src="https://i.snag.gy/jmrV5E.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/swiper.min.js"></script>
	<script src="https://unpkg.com/vue"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-awesome-swiper@3.1.2/dist/vue-awesome-swiper.js"></script>
	<script src="https://gstatic.com/firebasejs/4.2.0/firebase.js"></script>
	<script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
	<script src="js/custom.js"></script>
</body>
</html>
