body{
  font-family:arial;
  font-size:15px;
  }
  a, .link {
    color: #355b99;
}

  .bs-1{
  	box-shadow: inset 0 3px 3px rgba(0,0,0,0.05)
  }

  .btn-admin {
    padding: .25rem .75rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    color: #333;
    background-color: transparent;
    background-image: none;
    border-color: #ddd;
    cursor: pointer;
}


.btn-admin.active {
    color: #333;
    background-color: #fff6d4;
	outline: none;
}

.filter-drop {
    border-bottom: 1px solid #ddd;
    padding: .6rem 0 ;
    cursor: pointer;
    white-space: nowrap;
    	background: url(https://i.snag.gy/y6GcRF.jpg) no-repeat 100% 50%;

}
.dropdown-menu.filter{
	width: 202px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
    padding: 1.25rem;
}

.filter-input{
	outline: 0;
	border: 0;
	   padding: .6rem 0 ;
	border-bottom: 1px solid #ddd;
	font-size: 0.8rem;
	background: url(https://i.snag.gy/F7Ba6Z.jpg) no-repeat 100% 50%;
	white-space: nowrap;

}

.filter-input.edit{
	background: url(https://i.snag.gy/i8Ieao.jpg) no-repeat 100% 50%;

}
.filter-input::placeholder{
	color: #212529;
}

.order-table{
	min-width: 1310px;
}
.order-row{
	width: 90px;
    min-width: 80px;
	flex-grow: 1;
	margin-right: 2rem;
}
.order-row:last-child{
	margin-right: 0rem;
}
.order-row-large{
	flex-grow: 7;
}
.order-row-small{
	flex-grow: 0.5;
}



.info{
	border: 2px solid #00aeef;
	border-radius: 3px;
	padding:4px 8px;
}
.warning{
	border: 2px solid #ff9f00;
	border-radius: 3px;
	padding:4px 8px;
}
.sucsess{
	border: 2px solid #5cb85c;
	border-radius: 3px;
	padding:4px 8px;
}

.holdstatus{
	border: 2px solid #999999;
	border-radius: 3px;
	padding:4px 8px;
}
.danger{
	border: 2px solid #ff1844;
	border-radius: 3px;
	padding:4px 8px;
}


.attribute{
		width: 22px;
	height: 22px;
	margin-right: .5rem;
	display: inline-block;
}

.terminal{

	background: url(https://i.snag.gy/r5wAlL.jpg);


}

.gift{
	background: url(https://i.snag.gy/hRC4mp.jpg);
}


.order-item{
	margin: 0 -1rem;
	padding: 0 1rem;
}

.order-item:nth-child(2n-1){
	background: #fbfbfb;
}


.delivery-type{
	width: 19px;
	height: 19px;
margin-right: 1rem;
	display: inline-block;
	flex-shrink: 0;
	
}

.delivery-type.pickup{
	background: url(https://i.snag.gy/B0E3eJ.jpg);
}
.delivery-type.sdek{
	background: url(https://i.snag.gy/M4qPmj.jpg);
}
.delivery-type.delivery{
	background: url(https://i.snag.gy/yTaXcj.jpg);
}