.accordion-title.large{
	font-size: 14px;
	font-weight: bold;
}

.is-active > .accordion-title.large{
	color: #000;
}
html {
    font-size: 13px;

}
i.medium{
	font-size: 18px;
}

.reviw-buttons{
	    margin: 0 0 0 0.5rem;
color: #999;
}



input[type="checkbox"] {
    display:none;
    ьф
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:24px;
    height:24px;
    margin:-1px 10px 0 0;
    vertical-align:middle;
    background:#fff left top no-repeat;
    cursor:pointer;
    border: 1px solid #d2d2d2;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    border-radius: 2px;}
input[type="checkbox"]:checked + label span {
    background:url(../img/check.png) left top no-repeat;
    border: none;
}
.checkbox-title{
	font-size: 1rem;
}
.checkbox-subtitle{
	font-size: 0.9rem;
	color: #666666;
	margin-left: 34px;
	margin-bottom: 10px;
}
.site-register-check{
	margin-left: 34px;
}