<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Каталог</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/c-style.css" rel="stylesheet">
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter44689333 = new Ya.Metrika({
                        id:44689333,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true,
                        trackHash:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/44689333" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</head>
<body><div class="hidden-md-up mb-4">
  <div class="container-fulid ">
    <div class="container">
      <div class="row d-flex ">

        <div class="col d-flex flex-row align-items-center shrink pt-2 pb-2">
          <img src="https://i.snag.gy/3jefoc.jpg" alt="" />

        </div>

        <div class="col d-flex flex-row-reverse align-items-center align-self-end  p-3 ">
          <img src="https://i.snag.gy/51LOiG.jpg" class="" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="container-fulid bg-grey bb-red-3">
    <div class="container">
      <div class="row ">

        <div class="col  d-flex flex-row align-items-center border-right-1 shrink header-btn p-3">
          <img src="https://i.snag.gy/oJxb64.jpg" class="mr-2" alt="" />
          <a href="">
            <h6 class="mb-0  main-link">Каталог</h6>
          </a>
        </div>
        <div class="col d-flex flex-row align-items-center border-right-1 p-2">
          <input type="email" class="form-control" placeholder="Поиск по сайту">
        </div>

      </div>
    </div>
  </div>
</div>


<div class="container-fulid bg-grey hidden-sm-down">
  <div class="container">
    <div class="row d-flex ">
      <div class="col d-flex flex-row align-items-center shrink pt-2 pb-2">
        <a href="" class="text-muted">
          <small>Петропавловск-Камчатский</small>
        </a>
      </div>
      <div class="col d-flex flex-row align-items-center shrink pt-2 pb-2">
        <a href="" class="text-muted">
          <small>ул. Светланская, д. 147 </small>
        </a>
      </div>
      <div class="col d-flex flex-row align-items-center shrink pt-2 pb-2">
        <div class="">
          <b class="text-muted">+7 (4232) 79-01-16</b>
          <small>(с 9:00 до 20:00)</small>
        </div>
      </div>
      <div class="col d-flex flex-row align-items-center shrink pt-2 pb-2">
        <a href="" class="text-muted">
          <small>Обратная связь</small>
        </a>
      </div>
      <div class="col d-flex flex-row-reverse align-items-center align-self-end   pt-2 pb-2">
        <ul class="nav small ">
          <li class="nav-item">
            <a class="nav-link text-muted" href="#">Как купить</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted" href="#">Оплата</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-muted pr-0" href="#">Доставка</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container-fulid  hidden-sm-down  bb-red-3 mb-4">
  <div class="container">
    <div class="row ">
      <div class="col border-right-1 p-3 shrink" v-on:click="switchsite">
        <img src="https://i.snag.gy/I0oqfz.jpg" alt="" />

      </div>
      <div class="col  d-flex flex-row align-items-center border-right-1 shrink header-btn">
        <img src="https://i.snag.gy/oJxb64.jpg" class="mr-2" alt="" />
        <a href="">
          <h6 class="mb-0  main-link">Каталог</h6>
        </a>
      </div>
      <div class="col d-flex flex-row align-items-center border-right-1">
        <input type="email" class="form-control" placeholder="Поиск по сайту">
      </div>
      <div class="col d-flex flex-row align-items-center border-right-1 shrink header-btn">
        <img src="https://i.snag.gy/u5W6MI.jpg" class="" alt="" />
        <div class="d-flex flex-column hidden-md-down ml-2">
          <a href="" class="main-link"><h6 class="mb-0">Личный кабинет</h6></a>
          <div class="d-flex flex-row">
            <a href="" class="mr-2 small text-muted">Вход</a>
            <a href="" class="small text-muted">Регистрация</a>
          </div>
        </div>
      </div>
      <div class="col d-flex flex-row align-items-center border-right-1 shrink header-btn">
        <img src="https://i.snag.gy/uSmB9r.jpg" class=" " alt="" />
        <div class="d-flex flex-column  ml-2 hidden-md-down ">
          <a href="" class="main-link">
            <h6 class="mb-0">Сравнение</h6>
          </a>
        </div>
      </div>
      <div class="col d-flex flex-row align-items-center border-right-1 shrink header-btn">
        <img src="https://i.snag.gy/51LOiG.jpg" class="" alt="" />
        <div class="d-flex flex-column  ml-2 hidden-md-down">
          <a href="" class="main-link">
            <h6 class="mb-0">Корзина</h6>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>







<h4></h4>
<div id="app">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="h2 mb-4">Встраиваемые духовые шкафы</div>
      </div>
      <div class="col shrink hidden-md-down  pr-0">
        <div class="border w-208 mr-3 sticky-top"><img src="https://i.snag.gy/L8nKmq.jpg" alt=""></div>
      </div>
      <div class="col">
        <div class="row ">
          <div class="col-12 d-flex flex-row p-0 pt-4 mb-4 bt-1">
            <div class="d-flex flex-row mr-4">
              <div class="mr-1 small">Сортировка:</div>
              <div class="dropdown small">

                <a class="  dropdown-toggle" href="https://example.com" id="sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    по возрастанию цены
                </a>

                <div class="dropdown-menu" aria-labelledby="sort">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
            <div class="d-flex flex-row mr-4">
              <div class="mr-1 small">Группировать:</div>
              <div class="dropdown small">

                <a class="  dropdown-toggle" href="https://example.com" id="sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    без группировки
                  </a>

                <div class="dropdown-menu" aria-labelledby="sort">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
            <div class="d-flex flex-row mr-4">
              <div class="mr-1 small">Магазин:</div>
              <div class="dropdown small">

                <a class="  dropdown-toggle" href="https://example.com" id="sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    любой
                  </a>

                <div class="dropdown-menu" aria-labelledby="sort">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
            <div class="d-flex flex-row mr-4">
              <div class="mr-1 small">Наличие:</div>
              <div class="dropdown small">

                <a class="  dropdown-toggle" href="https://example.com" id="sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    склад и магазин
                  </a>

                <div class="dropdown-menu" aria-labelledby="sort">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>

            <div class="pr-3 ml-auto" v-on:click="layout = 'list'">
                <i class="icon-horizontal"></i>
            </div>

 <div class="pr-3" v-on:click="layout = 'grid'">
                <i class="icon-plates"></i>
            </div>
          </div>
          <div class="col-12">
              
          </div>


        </div>
        <div v-if="layout == 'grid'" class="row mb-5">
          <div class="product-plate col-xl-3 col-lg-4 col-md-4 col-6 p-0 d-flex flex-column border p-3" v-for="(product, index) in products">
            <div class="d-flex justify-content-center mb-4 img-wrap">
              <div class="stikerWrap" v-if="products[index].actions !== 0">
                <div class="" v-for="(action, index) in product.actions">
                  <a data-toggle="tooltip" data-html="true" data-placement="bottom" :title="action.actionDesc">
                    <span class="mr-1 stiker" :class="action.actionType">{{action.actionName}}</span>
                  </a>
                </div>
              </div>
              <div class="d-flex">
                <img class="align-self-center poduct-img" :src="product.img" alt="">
              </div>
            </div>
            <div class="mb-2 productName hidden-sm-down small">
              <a href="https://logunoveugene.github.io/main2/index.html" :title="product.name">{{product.name}}</a>
            </div>
            <div class="mb-2 productName hidden-md-up small">
              <a href="https://logunoveugene.github.io/main2/index.html">{{product.name}}</a>
            </div>
            <div class="mb-2">
              <rate :length="5" :value="product.rate"></rate> <span class="small text-muted">({{product.rateCount}})</span>
            </div>
            <div class="hidden-sm-down">
              <div class="mb-4 price-wrap">
                <div class="d-flex flex-row align-items-end mb-1">
                  <div class="h5 mb-0 mr-2 "><b>{{product.price}} р.</b></div>
                  <span class="small text-muted" v-if="products[index].oldPrice !== 0"><del>{{product.oldPrice}} р.</del></span>
                </div>
                <div class="discount" v-if="products[index].discount !== 0">
                  <mark>Доступна скидка {{product.discount}} р.</mark>
                </div>
              </div>
              <div class="mb-3">
                <button type="button" class="btn btn-secondary mr-2">В корзину</button>
                <img src="https://i.snag.gy/zo2fWm.jpg" alt="">
              </div>
            </div>
            <div class="hidden-md-up d-flex justify-content-between align-items-center">
              <div class="d-flex flex-column ">
                <span class="small text-muted" v-if="products[index].oldPrice !== 0"><del>{{product.oldPrice}} р.</del></span>
                <span class=" mb-0"><b>{{product.price}} р.</b></span>
                <div class="discount" v-if="products[index].discount !== 0">
                  <mark>Доступна скидка {{product.discount}} р.</mark>
                </div>
              </div>
              <button type="button" class="btn btn-secondary">
                <div class="icon-cart text-muted"></div>
              </button>
            </div>
            <div class="small hidden-md-down ">
              <a href="" class="text-muted"><a href="">Забрать в 6 магазинах</a> с 18 сен.</a>
            </div>
          </div>
        </div>



        <div v-if="layout == 'list'" class="row ">
          <div class="product-plate col-12 p-0  border p-3 " v-for="(product, index) in products">
            <div class="row">
              <div class="stikerWrap" v-if="products[index].actions !== 0">
                <div class="" v-for="(action, index) in product.actions">
                  <a data-toggle="tooltip" data-html="true" data-placement="bottom" :title="action.actionDesc">
                    <span class="mr-1 stiker" :class="action.actionType">{{action.actionName}}</span>
                  </a>
                </div>
              </div>
              <div class="col shrink">
                <div class="d-flex justify-content-center h-100 mb-2 row-img-wrap ">
                  <div class="d-flex">
                    <img class="align-self-center row-poduct-img" :src="product.img" alt="">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <div class="col-12 col-md">
                    <div class="d-flex flex-column ">
                      <div class="mb-2 mt-3  h5 hidden-sm-down ">
                        <a href="https://logunoveugene.github.io/main2/index.html" :title="product.name">{{product.name}}</a>
                      </div>
                      <div class="mb-1 hidden-md-up small">
                        <a href="https://logunoveugene.github.io/main2/index.html">{{product.name}}</a>
                      </div>
                      <div class="desc-list-warp hidden-md-down" v-html="product.desc"></div>
                      <div class="mb-2 hidden-md-up">
                        <rate :length="5" :value="product.rate"></rate> <span class="small text-muted">({{product.rateCount}}) </span>
                      </div>

                      <div class="mb-3 hidden-md-up">
                        <div href="" class="text-muted small"><a href="">Забрать в 6 магазинах</a> <span class="text-nowrap">с 18 сентября</span></div>
                      </div>

                      <div class="hidden-md-up d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-column ">
                          <span class="small text-muted" v-if="products[index].oldPrice !== 0"><del>{{product.oldPrice}} р.</del></span>
                          <span class=" mb-0"><b>{{product.price}} р.</b></span>
                          <div class="discount" v-if="products[index].discount !== 0">
                            <mark>Доступна скидка {{product.discount}} р.</mark>
                          </div>
                        </div>
                        <button type="button" class="btn btn-secondary">
                          <div class="icon-cart text-muted"></div>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col shrink hidden-sm-down">
                    <div class="d-flex flex-column ml-auto  text-right">
                      <div class="mt-2 pt-2">
                        <span class="small text-muted  mb-1" v-if="products[index].oldPrice !== 0"><del>{{product.oldPrice}} р.</del></span>
                        <div class="h5 mb-3 "><b>{{product.price}} р.</b></div>
                        <div class="discount" v-if="products[index].discount !== 0">
                          <mark>Доступна скидка {{product.discount}} р.</mark>
                        </div>
                      </div>
                      <div class="">
                        <button type="button" class="btn btn-secondary mb-2">В корзину</button>
                      </div>
                      <div class="small">
                        <a href="" class="text-muted"><a href="">Забрать в 6 магазинах</a> с 18 сен.</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row hidden-sm-down">
                  <div class="col">
                    <div class="d-flex flex-row">
                      <div class="mr-4">
                        <rate :length="5" :value="product.rate"></rate> <span class="small text-muted">({{product.rateCount}}) </span>
                      </div>
                      <div class="d-inline-block mr-4">
                        <div data-icon="h" class="icon small text-muted mr-2 d-inline-block"></div>
                        <div class="small text-muted  d-inline-block">Сравнить</div>
                      </div>
                      <div class="d-inline-block">
                        <div data-icon="_" class="icon small text-muted mr-2 d-inline-block"></div>
                        <div class="small text-muted  d-inline-block">Добавить в желания</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="js/custom.js"></script>
</body>
</html>
