
body{
		font-family: "PT Sans";
		background-color: #f4f4f4; 
}


.logo{
	width: 130px;
	height: 33px;
}
.burger-menu-icon{
	width: 17px;
	height: 14px;
	opacity: .8;
}

.bg-dark-blue{
	background-color: #00557a;
}

.navbar-dropmenu{
	max-width: 45px;
	line-height: 11px;
}

.cont-block{
	border-radius: 3px;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
	background-color: #fff;
}


.block-title{
	font-weight: 700;
	font-size: 17px;
}



.swiper-main {
	width: 100%;
	height: auto;
overflow:hidden;
}
.swiper-main .swiper-slide {
	font-size: 18px;
	color:#fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	width: calc(100% - 2rem);
	height: auto;
		
}

.swiper-main .parallax-bg {
	width: 100%;
	height: auto;
	z-index: -1;
	border-radius: 3px;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
.swiper-main .swiper-slide .title {
		z-index: 1;
position: absolute;
	left: 20px;
	top: 20px;
	font-weight: 700;
	font-size: 17px;

	padding: 0px 5px;
	background-color: #ef1456;
	display: inline-block;
	margin-bottom: .25rem;
}

.swiper-main .swiper-slide .text {
z-index: 1;
	position: absolute;
	left:20px;
	top: 50px;
	font-size: 14px;
	max-width: 150px;
	line-height: 1.3;

}






.swiper-poselok{
	 width: 100%;

overflow:hidden;
      height: 100%;
      padding: 0 1rem;

  }

.swiper-poselok .swiper-slide {
	width: 50%
}

.poselok-img{
	max-width: 100%;
	height:auto;
}