.logo{
	width: 130px;
	height: 33px;
}
.burger-menu-icon{
	width: 17px;
	height: 14px;
	opacity: .8;
}

.bg-dark-blue{
	background-color: #00557a;
}

.navbar-dropmenu{
	max-width: 45px;
	line-height: 11px;
}

.cont-block{
	border-radius: 3px;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}



.swiper-container {
	width: 100%;
	height: auto;

}
.swiper-slide {
	font-size: 18px;
	color:#fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	width: calc(100% - 2rem);
	height: auto;
		

}



.parallax-bg {

	width: 100%;
	height: auto;
	z-index: -1;
	border-radius: 3px;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
.swiper-slide .title {
		z-index: 1;
position: absolute;
	left: 20px;
	top: 20px;
	font-weight: 700;
	font-size: 17px;
	font-family: "PT Sans";
	padding: 0px 5px;
	background-color: #ef1456;
	display: inline-block;
	margin-bottom: .25rem;


}

.swiper-slide .text {
z-index: 1;
	position: absolute;
	left:20px;
	top: 50px;
	font-size: 14px;
	max-width: 150px;
	line-height: 1.3;

}
