@font-face {
  font-family: 'icomoon';
  src:  url('https://logunoveugene.github.io/icon/fonts/icomoon.eot?3z36cq');
  src:  url('https://logunoveugene.github.io/icon/fonts/icomoon.eot?3z36cq#iefix') format('embedded-opentype'),
    url('https://logunoveugene.github.io/icon/fonts/icomoon.ttf?3z36cq') format('truetype'),
    url('https://logunoveugene.github.io/icon/fonts/icomoon.woff?3z36cq') format('woff'),
    url('https://logunoveugene.github.io/icon/fonts/icomoon.svg?3z36cq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-cart:before {
  content: "\e901";
}
.icon-dots-hor:before {
  content: "\e902";
}
.icon-error:before {
  content: "\e903";
}
.icon-Oval:before {
  content: "\e904";
}
.icon-right-arrow:before {
  content: "\e905";
}
.icon-success:before {
  content: "\e906";
}
.icon-warning:before {
  content: "\e907";
}
