body {
  font-family: "PT Sans";
  -webkit-font-smoothing: antialiased;
  background-color: rgb(246, 246, 246);
}
textarea, select, input, button { outline: none; }

a{
    color: #0d61af;
      transition: .2s;
}

a:hover {
  color: #FC5808;
  text-decoration: none;
}

@media (min-width: 1200px){
  .container {
    max-width: 1200px;
  }
}

/*ссылки*/
.link{
    cursor: pointer;
}
.link--color-grey{
  color: #4E4E4E;
  transition: .2s;
}

.link--color-grey:hover{
  color: #FC5808;
  text-decoration: none;
}

.link--dropdown{
  position: relative;
  padding-right: 16px;
}
.link--dropdown:after{
  content: "\66";
  font-family: "mydns" !important;
  position: absolute;
  right: 0;    
}



/*разметка шапки*/
.header{
  box-shadow: 0px 1px 24px 0px rgba(0, 0, 0, 0.14);
  background-color: rgb(256, 256, 256);
  margin-bottom: 1rem;
}

.header__container{
  display: flex;
  display: -ms-flexbox;
}

.header__block{
  -ms-flex-direction: column;
  flex-direction: column;
  display: -ms-flexbox;
  display: flex;
}

.header__block--grow{
  flex-grow: 1;
}

.header__top-line{
  /*    padding: .5rem 0;*/
  height: 57px;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.875rem;
}

.header__bottom-line {
  height: 40px;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

/*каталог*/

.header__main-nav{
  width: 230px;
  position: relative;


}
.main-nav{
  border-radius: 4px;
  background-color: rgb(252, 137, 8);
  width: 100%;
  height: 40px;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 10px 15px;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.main-nav--open{
  border-radius: 4px 4px 0 0;
  cursor: default;
}

.main-nav__icon{
  margin-right: .75rem;
  padding-top: .25rem;
}

.header__main-nav-list{
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 100;

}

.nav-list{
  margin: 0;
  padding-left: 0;
  list-style: none;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border-radius: 0 0 4px 4px; 
  background-color: #fff; 
  display: none;
}

.nav-list--open{
  display: block;
}

.nav-list__item {
    padding: 10px 0 10px 45px;
  font-size: .875rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  position: relative;
}
.nav-list__item:hover{
   color: #FC5808;;
}
.nav-list__img{
    position: absolute;
    max-width: 21px;
    left: 11px;
    opacity: .3
}

/*навигация над поиском*/
.nav__link{
  margin-left: 1.5rem;

}


/*Поиск */

.header__search-form{
  width: 100%;
}

.search-form{
  display: flex;
}


.search-form__field:focus ~ .search-form__select, .search-form__field:focus, .search-form__field:focus ~ .search-form__submit   {
  border-color: #fca608;
}

.search-form__field{
  border-radius: 4px 0 0 4px  ;
  border: 1px solid rgb(210, 210, 210);
  border-right:  0;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 40px;
  padding:8px 15px;

}
.search-form__select{
  border-radius: 0 ;
  border: 1px solid rgb(210, 210, 210);
  background-color: rgb(255, 255, 255);
  width: 150px;
  border-left: 0;
  border-right:  0;
  height: 40px;
  padding:8px 15px;
}

.search-form__submit{
  border-radius:  0 4px 4px 0 ;
  border: 1px solid rgb(210, 210, 210);
  border-left: 0;
  background-color: rgb(255, 255, 255);
  width: auto;
  height: 40px;
  padding: 7px 15px;
  cursor: pointer;

}




/*корзина сравнние избранное */

.header__store-control{
  margin-right: 2rem;
}
.header__store-control:last-child{
  margin-right: 0;
}

.store-control{
  display: flex;
  -ms-flex-align: center;
  align-items: center;

}
.store-control__icon{
  margin-right: .5rem;
  color: #ccc;

}




/*помойка*/
.container__main-right{
  padding-left: 247px;
}

.container__main-left {
    position: absolute;
    top: 830px;
    width: 230px;
}

.card {
  border-radius: .25rem;
  border: none;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
  transition: .5s;
  overflow: hidden;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem;
}

h1, .h1 {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 700;
}

h2, .h2 {
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: 700;
}

h3, .h3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
}

h4, .h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
}

.small {
    font-size: 0.875rem;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 10px;
    padding-left: 10px;
}



/*Главный слайдер*/
.swiper-container{
  width: 100%;
}

.sw-button-prev, .sw-container-rtl .sw-button-next {
  left: .5rem;
  right: auto;
  transform: translateX(-10px);
  
}

.sw-button-next, .sw-container-rtl .sw-button-prev {
  right: .5rem;
  left: auto;
  transform: translateX(10px);

}

.swiper-container:hover .sw-button-next, .swiper-container:hover .sw-button-prev {
  transform: translateX(0);
  opacity: 1
}
.sw-button-next, .sw-button-prev {
  position: absolute;
  top: 50%;
  height: 35px;
  width: 35px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background: #fff;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
  opacity: 0;
  transition: opacity .3s,  transform .3s;
  border-radius: 50%;
  text-align: center;
}

.sw-button-next:hover, .sw-button-prev:hover{
 background: #fc8908;
 color:#fff;
 transition: color .2s,  background .2s;
}


/*плитка товара*/

.product-plate__image-wrap{
    height: 170px;
    position: relative;
    margin-bottom: 8px;
}

.product-plate__image{
        max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
}

.product-plate__link{
    height: 45px;
    overflow: hidden;
}



.brand__item {
    filter: grayscale(100%);
    opacity: .4;
    transition: .5s;
    cursor: pointer;
    width: 75%;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000;
    background-color: #eee;
}

.nav-link {
    padding: .25rem .75rem;
    font-size: .875rem;
}


.benefit_sale{
    background: #fff url('https://i.snag.gy/5OLSUs.jpg') no-repeat 242px 20px; 

}
.benefit_bonus{
    background: #fff url('https://i.snag.gy/RABxQ3.jpg') no-repeat 242px 20px; 

}
.benefit_builder{
    background: #fff url('https://i.snag.gy/UKIP9l.jpg') no-repeat 238px 20px; 

}




