body {
    font-family: "PT Sans";
}
@media (min-width: 1200px){
.container {
    max-width: 1200px;
  }}
.card-body {
    padding: 1rem;
}
.m-card-0{
  margin:0 -1rem;
}
a {
  color:#0D61AF;
}

.alert-post{  
  background-color: #FFF7DA;
}

.base-post{ 
  border-bottom:1px solid #eee;
}


h1, .h1 {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 700;
}
h2, .h2 {
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 700;
}
h3, .h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
}
h4, .h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.small{
  font-size:0.875rem;
}
.btn-secondary{
  border: 1px solid #D9D9D9;
  border-radius: 8px; 
  background-color: #FFFFFF;  
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  color:black;
  padding: .5rem 0.75rem;
}

.btn-primary{
  background: linear-gradient(0deg, #FC8507 0%, #FD9B09 100%); 
   box-shadow: 0 4px 5px 0 #D9D9D9;
     color:white;
     font-weight: 700;
  padding: .5rem 0.75rem;
   border-radius: 8px; 
     border: none;
}



.nav-link{
white-space:  nowrap;
  padding:   .5rem 0  ;
    margin-right:1rem;
    color: #212529;
  }
.nav{
  overflow-x:auto;
  overflow-y:hidden;
}
.position-relative{
  position:relative;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  border:1px solid rgb(255, 255, 255);
  box-shadow: inset 0 -2px orange;
  background: none;
  color:orange;
  
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: rgb(255, 255, 255);
}


.ask-list{
  
}

.dotted-link{
  border-bottom:1px dotted #999;
  cursor:pointer;
}



.img-60{
height: auto; 
  width: 60px;
}
.forum-plate{
  border-top: 5px solid #eee;
  border-bottom: 5px solid #eee;
}

.w-px-90{
  width: 90px;
}

.logo{
  height: 24px;
  width: auto;

}
.shadow-plate{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.05);
}

.shadow-plate-lg {
    box-shadow: 0 10px 40px -10px rgba(0,0,0, 0.15);
}
