@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?x4p082');
  src:  url('fonts/icomoon.eot?x4p082#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?x4p082') format('truetype'),
    url('fonts/icomoon.woff?x4p082') format('woff'),
    url('fonts/icomoon.svg?x4p082#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\e91c";
}
.icon-arrow-left:before {
  content: "\e91d";
}
.icon-menu:before {
  content: "\e91e";
}
.icon-backspace:before {
  content: "\e91a";
}
.icon-small-calendar:before {
  content: "\e91b";
}
.icon-pizza:before {
  content: "\e900";
}
.icon-beer:before {
  content: "\e901";
}
.icon-cutlery:before {
  content: "\e902";
}
.icon-shopping:before {
  content: "\e903";
}
.icon-school-bus:before {
  content: "\e904";
}
.icon-car-oil:before {
  content: "\e905";
}
.icon-buildings:before {
  content: "\e906";
}
.icon-faucet:before {
  content: "\e907";
}
.icon-heat:before {
  content: "\e908";
}
.icon-idea:before {
  content: "\e909";
}
.icon-polo-shirt:before {
  content: "\e90a";
}
.icon-high-heels:before {
  content: "\e90b";
}
.icon-present:before {
  content: "\e90c";
}
.icon-air-freight:before {
  content: "\e90d";
}
.icon-stationary-bike:before {
  content: "\e90e";
}
.icon-gamepad:before {
  content: "\e90f";
}
.icon-medicine:before {
  content: "\e910";
}
.icon-first-aid-kit:before {
  content: "\e911";
}
.icon-book:before {
  content: "\e912";
}
.icon-pacifier:before {
  content: "\e913";
}
.icon-black-cat:before {
  content: "\e914";
}
.icon-washing-machine:before {
  content: "\e915";
}
.icon-smartphone:before {
  content: "\e916";
}
.icon-parking:before {
  content: "\e917";
}
.icon-wifi:before {
  content: "\e918";
}
.icon-television:before {
  content: "\e919";
}
