*{
  margin: 0;
  padding: 0;
}


.swiper-site {
	width: 100%;
	height: auto;

}
.swiper-site .swiper-slide {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: auto;
	height: auto;
}


.nav-pills .nav-link {
  border-radius: .25rem;
  background-color: rgba(0,0,0,0.1);
  margin-right: 1rem;
  padding: .4rem .65rem;
  color: #000;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  box-shadow: 0px 5px 10px 0px rgba(0, 123, 255, 0.3),0px 2px 1px 0px rgba(0, 123, 255, 0);
}

.main-title{
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  line-height: 2rem;

}


.desc-image{
  font-size: 2rem;
  margin-right: .5rem;
}
.desc-text{
  font-size: 80%;
  line-height: 1.2;
}

.intro {
 visibility: hidden;
}


@media (min-width: 1200px){
  .container {
    max-width: 1240px!important;
  }
}




@media (min-width: 992px){
  .px-lg-7{
    padding: 3rem 6rem!important;
  }
  .tab-content {
    max-width: 70%;
  }
  .main-title{
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    line-height: 3rem;

  }
}

.overflow{
  overflow: hidden;
}
.fist-screen{
  height: 100vh;
}
/*
.menu {
    top: -75px;
    position: fixed;
    height: 60px;
    background-color: #007bff;
    color: white;
    width: 100%;
    transition: all .5s;
*/    

  .menu {
        height: 60px;
  }




  /*menu*/
  .cd-morph-dropdown {
    position: relative;
    height: 60px;
    background-color: #FFFFFF;
  }
  .cd-morph-dropdown::before {
    /* never visible - used in JS to check mq */
    content: 'mobile';
    display: none;
  }
  .cd-morph-dropdown .nav-trigger {
    /* menu icon - visible on small screens only */
    position: absolute;
    top: 0;
    right: 0;
    height: 60px;
    width: 60px;
    /* replace text with icon */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
  }
  .cd-morph-dropdown .nav-trigger span, .cd-morph-dropdown .nav-trigger span::after, .cd-morph-dropdown .nav-trigger span::before {
    /* these are the 3 lines of the menu icon */
    position: absolute;
    background-color: #1A1A1A;
    height: 3px;
    width: 26px;
  }
  .cd-morph-dropdown .nav-trigger span {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
  }
  .cd-morph-dropdown .nav-trigger span::after, .cd-morph-dropdown .nav-trigger span::before {
    content: '';
    left: 0;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .cd-morph-dropdown .nav-trigger span::before {
    -webkit-transform: translateY(-9px);
    -ms-transform: translateY(-9px);
    transform: translateY(-9px);
  }
  .cd-morph-dropdown .nav-trigger span::after {
    -webkit-transform: translateY(9px);
    -ms-transform: translateY(9px);
    transform: translateY(9px);
  }
  .cd-morph-dropdown.nav-open .nav-trigger span {
    background-color: transparent;
  }
  .cd-morph-dropdown.nav-open .nav-trigger span::before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .cd-morph-dropdown.nav-open .nav-trigger span::after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .cd-morph-dropdown .main-nav {
    display: none;
  }
  .cd-morph-dropdown .morph-dropdown-wrapper {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 1.2em 5%;
    box-shadow: inset 0 1px 0 #e6e6e6;
    background-color: #FFFFFF;
        z-index: 100;
  }
  .cd-morph-dropdown.nav-open .morph-dropdown-wrapper {
    display: block;
  }
  .cd-morph-dropdown .dropdown-list > ul > li {
    margin-bottom: 3.3em;
  }
  .cd-morph-dropdown .label {
    display: block;
    font-size: 1rem;
    color: #1A1A1A;
    margin-bottom: .8em;
  }

  @media only screen and (min-width: 1000px) {
    .cd-morph-dropdown {
      position: absolute;
      height: 60px;
      left: 0;
      top: 0;
      width: 100%;
      padding: 0;
      text-align: center;
      background-color: transparent;
    }
    .cd-morph-dropdown::before {
      content: 'desktop';
    }
    .cd-morph-dropdown .nav-trigger {
      display: none;
    }
    .cd-morph-dropdown .main-nav {
      display: inline-block;
    }
    .cd-morph-dropdown .main-nav > ul > li {
      display: inline-block;
      float: left;
    }
    .cd-morph-dropdown .main-nav > ul > li > a {
      display: block;
      padding: 0 1rem;
      height: 60px;
      line-height: 60px;
      color: #FFFFFF;
      font-size: 1rem;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-transition: opacity .2s;
      transition: opacity .2s;
    }
    .cd-morph-dropdown.is-dropdown-visible .main-nav > ul > li > a {
      /* main navigation hover effect - on hover, reduce opacity of elements not hovered over */
      opacity: .6;
    }
    .cd-morph-dropdown.is-dropdown-visible .main-nav > ul > li.active > a {
      opacity: 1;
    }
    .cd-morph-dropdown .morph-dropdown-wrapper {
      /* dropdown wrapper - used to create the slide up/slide down effect when dropdown is revealed/hidden */
      display: block;
      top: 58px;
      /* overwrite mobile style */
      width: auto;
      padding: 0;
      box-shadow: none;
      background-color: transparent;
      /* Force Hardware acceleration */
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      will-change: transform;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
      -webkit-transition: -webkit-transform .3s;
      transition: -webkit-transform .3s;
      transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s;
      z-index: 100;
    }
    .cd-morph-dropdown.is-dropdown-visible .morph-dropdown-wrapper {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    .cd-morph-dropdown .dropdown-list {
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      will-change: transform, width, height;
      -webkit-transition: visibility .3s;
      transition: visibility .3s;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    }
    .no-csstransitions .cd-morph-dropdown .dropdown-list {
      display: none;
    }
    .cd-morph-dropdown .dropdown-list::before {
      /* dropdown top triangle */
      content: '';
      position: absolute;
      bottom: 100%;
      left: 50%;
      right: auto;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      height: 0;
      width: 0;
      border: 8px solid transparent;
      border-bottom-color: #FFFFFF;
      opacity: 0;
      -webkit-transition: opacity .3s;
      transition: opacity .3s;
    }
    .cd-morph-dropdown .dropdown-list > ul {
      position: relative;
      z-index: 1;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
    .cd-morph-dropdown.is-dropdown-visible .dropdown-list {
      visibility: visible;
      -webkit-transition: width .3s, height .3s, -webkit-transform .3s;
      transition: width .3s, height .3s, -webkit-transform .3s;
      transition: transform .3s, width .3s, height .3s;
      transition: transform .3s, width .3s, height .3s, -webkit-transform .3s;
    }
    .cd-morph-dropdown.is-dropdown-visible .dropdown-list::before {
      opacity: 1;
    }
    .cd-morph-dropdown .dropdown {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      visibility: hidden;
      width: 100%;
      -webkit-transition: opacity .3s, visibility .3s;
      transition: opacity .3s, visibility .3s;
    }
    .cd-morph-dropdown .dropdown.active {
      opacity: 1;
      visibility: visible;
    }
    .cd-morph-dropdown .dropdown.move-left .content {
      -webkit-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
      transform: translateX(-100px);
    }
    .cd-morph-dropdown .dropdown.move-right .content {
      -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
      transform: translateX(100px);
    }
    .cd-morph-dropdown .label {
      /* hide the label on bigger devices */
      display: none;
    }
    .cd-morph-dropdown .content {
      padding: 1rem;
      -webkit-transition: -webkit-transform .3s;
      transition: -webkit-transform .3s;
      transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s;
      text-align: left;
    }

    .cd-morph-dropdown .gallery .content {
      /* you need to set a width for the .content elements because they have a position absolute */
      width: 510px;
      padding-bottom: .8em;
    }

    .cd-morph-dropdown .links .content,
    .cd-morph-dropdown .button .content {
      width: 390px;
    }

    .cd-morph-dropdown .bg-layer {
      /* morph dropdown background */
      position: absolute;
      top: 0;
      left: 0;
      height: 1px;
      width: 1px;
      background: #FFFFFF;
      opacity: 0;
      -webkit-transition: opacity .3s;
      transition: opacity .3s;
      -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
      transform-origin: top left;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      will-change: transform;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    .cd-morph-dropdown.is-dropdown-visible .bg-layer {
      opacity: 1;
      -webkit-transition: opacity .3s, -webkit-transform .3s;
      transition: opacity .3s, -webkit-transform .3s;
      transition: transform .3s, opacity .3s;
      transition: transform .3s, opacity .3s, -webkit-transform .3s;
    }
  }

  @media only screen and (min-width: 1000px) {
    .cd-morph-dropdown .bg-layer {
      /* morph dropdown background */
      position: absolute;
      top: 0;
      left: 0;
      height: 1px;
      width: 1px;
      background: #FFFFFF;
      opacity: 0;
      transition: opacity .3s;
      transform-origin: top left;
    }
    .cd-morph-dropdown.is-dropdown-visible .bg-layer {
      opacity: 1;
      transition: transform .3s, opacity .3s;
    }
  }

