body {
	font-family: "PT Sans";
	-webkit-font-smoothing: antialiased;
	background-color:#f6f6f6;
}
/*------------ссылки*/

.link{
	cursor: pointer;
	transition: .2s;
}
.link:hover{
	color: #FC5808!important;
	text-decoration: none;
}
.link--color-grey{
	color: #4E4E4E;
}

.link--color-blue{
	color: #0d61af;

}
.link--color-black{
	color: #000;
}
.link--dropdown{
	position: relative;
	padding-right: 16px;
}
.link--dropdown:after{
	content: "\62";
	font-family: "x-service" !important;
	position: absolute;
	right: 0;   
	top: 0; 
}

/*------заголовки*/

h1, .h1 {
	font-size: 2.25rem;
	line-height: 1.3;
}

h2, .h2 {
	font-size: 1.5rem;
	line-height: 1.3;
}

h3, .h3 {
	font-size: 1.125rem;
	line-height: 1.3;

}

h4, .h4 {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.3rem;
}

h5, .h5 {
	font-size: 1rem;
	line-height: 1.3rem;
	font-weight: 700;
}

.small {
	font-size: 0.875rem;
	line-height: 1.4;
}
.extrasmall{
	font-size: .75rem;
}





/*-----------Карточка*/
.plate{
	position: relative;
	display: -ms-flexbox;
	display: flex;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	transition: .5s all ease;
	box-shadow: none;
}
.plate--glow:hover{
	box-shadow: 0 10px 20px rgba(0,0,0,.08)
}
.plate--shadow{
	box-shadow: 0 10px 20px rgba(0,0,0,.08)
}
.plate__body{
	padding: 2rem;
	flex: 1 1 auto;
}



/*------------Кнопкии*/
.button{
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: .375rem .75rem;
	line-height: 1.5;
	border: none;
	transition: all .25s ease;
}

.button, .button:active, .button:focus, input, input:focus, textarea  { 
	outline: none!important; 
}

.button--color-orange{
	background: #FD6600;
	color:#ffffff;
	padding: .5rem 1rem;
	transition: .2s;
}

.button--color-orange:hover{
	background: #ef6000;
	color:#fff;
}

.button--size-sm{
	padding: .5rem .75rem;
	font-size: .875rem;
	line-height: 1.5;
}
.button--color-orange:active{
	background: #FD6600;
	color:#fff;
}



.header{
	background-color: #fff;
}

.header-container{
	height: 80px;
}
.header__logo{
	cursor: pointer;
	display: block;
	margin-right: 40px;
}
.header__logo:hover{
	opacity: .9;
}


.header__logo-img{
	height: auto;
	width: 130px;
}

@media (min-width: 768px) {
	.header__logo-img{
		width: 178px;
	}
}

.header__city-link{
	font-size: 14px;
	border-radius: 4px;
	display: inline-block;
}

.header__phone{
	margin-right: 30px;
}

.header__menu {
    font-size: 20px;
    line-height: 17px;
    z-index: 1000;

}

/*меню*/
#menu {
  display: none;
}

.header__nav {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 80vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #fff;
  transition: left 500ms ease;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
   z-index: 0;
}
#menu:checked ~ .header__nav {
  left: 0px;
  transition: left 500ms ease;
}

#menu:checked ~ .header__menu-i::before {
	content: '';
	display: block;
    position: fixed;
    width: 100vh;
    top: 0;
    right: 0;
    height: 100vh;
    background: rgba(0,0,0,.2);
}
.icon-cancel{
	display: none;
	font-size: 24px;
}

#menu:checked ~ .header__menu-i .icon-cancel{
	display: block;
}


#menu:checked ~ .header__menu-i .icon-bars{
	display: none;
}










.hero{
	background-color: #FD6600;
}

.poins{
	background-image: linear-gradient(to top, #f6f6f6 70%, #FD6600 70% );
	margin-bottom: 3rem;
}

.plate__poins-list{
	width: 100%;
	padding-left: 2rem;
	
}

@media (min-width: 992px) {
	.plate__poins-list{
		width: 45%;
		max-height: 380px;

	}
}

.poins-list{
	margin-bottom: 0;
	max-height: 100%;
	overflow-y: scroll;
	padding-right: 2rem;
}

.poins__list-items{
	margin: 0 2rem;
}

.poins-item{
	padding: 16px 0;
	border-bottom: 1px solid #eee;
}

.poins-item:first-child{
	padding-top: 2rem;
}
.poins-item:last-child{
	padding-bottom: 2rem;
}


.poins-item__title {
	font-size: 18px;
	margin-bottom: .5rem;
}

.poins-item__desc {
	font-size: 14px;
	color: #666;
	margin-bottom: .5rem;
	line-height: 1.2;
}

.poins-item__time{
	font-size: 14px;
	color: #666;
	position: relative;
	padding-left: 20px;
	margin-bottom: .5rem;
}

.poins-item__time:before{
	content: "\61";
	font-family: "x-service" !important;
	position: absolute;
	left: 0;
	top: 2px;
	font-size: 13px;
}

.poins-item__phone{
	font-size: 14px;
	color: #666;
	position: relative;
	padding-left: 20px;
}

.poins-item__phone:before{
	content: "\63";
	font-family: "x-service" !important;
	position: absolute;
	left: 0;
	top: 2px;
	font-size: 13px;
}



.plate__benefit-list{
	padding: 0 2rem;
}

.benefit-list__benefit-item {
	-ms-flex-align: center;
	align-items: center;
	display: -ms-flexbox;
	display: flex;

}

.benefit-item{   
	-ms-flex-align: center;
	align-items: center;
	display: -ms-flexbox;
	display: flex;
	padding: 2rem 0;
	border-bottom: 1px solid #eee;
	width: 100%;
}

@media (min-width: 992px) {

	.benefit-item{   
		border-bottom: 0;
	}
}

.benefits{
	margin-bottom: 3rem;
}
.benefit-item__img {
	font-size: 48px;
	line-height: 35px;
	margin-right: 1rem;
	color: #666;
}
.benefit-item__desc{
	font-size: .875rem;
	line-height: 1.2;
}


.product{
	margin-bottom: 3rem;
}
.product__plate{
	border-bottom: 1px solid #eee;
}

.product__title{
	font-size: 24px;
	margin-bottom: .5rem;
}


.product-item{
	background-size: contain;
	display: flex;
	flex-direction: column;
}

.product-item__title{
	font-size: 18px;
	margin-bottom: .5rem;

}

.product-item--phone{
	background-image: url(../img/phone.png);
	background-position: top right;
	background-repeat: no-repeat;
}

.product-item--tablet{
	background-image: url(../img/tablet.png);
	background-position: top right;
	background-repeat: no-repeat;
}

.product-item__service{
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
	font-size: .875rem;
}

.product-item__service-item{
    display: inline;
    background: rgba(256,256,256,0.7);
}

.feedback{
	margin-bottom: 3rem;
}

.feedback__title{
	font-size: 24px;
	margin-bottom: .5rem;
}

.feedback-form__col {
	margin-bottom: 1.5rem;
}


.plate__feedback-desc{
	border-left: 1px solid #eee;
	height: 100%;
	padding-left:30px;
}


.feedback-desc__title{
	font-size: 18px;
	margin-bottom: 1rem;
}


.feedback-desc__info{
	font-size: 14px;
}


.field{
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.info{
	margin-bottom: 3rem;
}
.info__title{
	font-size: 24px;
	margin-bottom: .5rem;
}

.footer{
	padding: 3rem 0;
	border-top: 1px solid #eee; 
}


