<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
        <title>Document</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/flatpickr@4.0.3/dist/flatpickr.min.css">
        <link rel="stylesheet" href="css/custom.css">
    </head>
    <body>
        <div id="app">

            <nav class="navbar navbar-inverse bg-primary">
                <div class="h5 text-white mb-0">Администратор</div>
            </nav>
                <div class="p-3">
                    <nav class="breadcrumb bg-white p-0 mb-1 small">
                        <a class="breadcrumb-item" href="#">Главная</a>
                        <a class="breadcrumb-item" href="#">Маркетинг</a>
                        <a class="breadcrumb-item" href="#">Новости</a>
                    </nav>
                    <div class="d-flex flex-row">
                        <div class="h3 mb-0">Список заказов</div>
                        <button class="ml-auto btn btn-admin">
                            <img class="" src="https://i.snag.gy/6fGx1q.jpg" alt=""><span class="d-none d-md-inline ml-2">Новый заказ</span>
                        </button>
                    </div>
                </div>
            <div class="p-3 bs-1 ">
                <div class="d-flex flex-row align-items-center">
                    <div class="d-inline-block">
                        <div class="btn-group mt-2 mr-3" data-toggle="buttons">
                            <label class="btn btn-admin "  @click="setToday">
                                <input type="radio" id="one" :value="todaydate" v-model="searchDate">Сегодня
                            </label>
                            <label class="btn btn-admin" @click="setYesterday">
                                <input type="radio" value="54" id="option2" v-model="searchDate">Вчера
						
                            </label>
                            <label class="btn btn-admin d-none d-md-inline" @click="setWeek">
                                <input type="radio" id="option3" v-model="searchDate">Неделя
						
                            </label>
                            <label class="btn btn-admin d-none d-md-inline" @click="setmonth">
                                <input type="radio" id="option4" v-model="searchDate">Месяц
						
                            </label>
                        </div>
                        <div class="btn btn-admin active mr-3" v-if="searchIdSubmit">
                            Номер заказа: {{searchIdSubmit}} <img class="ml-1" v-on:click="searchIdClear" src="https://i.snag.gy/VGpiUI.jpg" alt="">
                        </div>
                        <div class="btn btn-admin active mr-3" v-if="searchAttributes" v-for="(Attributes, index) in searchAttributes">
                            Признак: {{Attributes}} <img class="ml-1" v-on:click="AttributesClear(index)" src="https://i.snag.gy/VGpiUI.jpg" alt="">
                        </div>
                        <div class="btn btn-admin active mr-3" v-if="searchDateSumbit[0]">
                            Дата: {{searchDateSumbit[0] | date}} <span class=""  v-if="showTwoDatePlate">– {{searchDateSumbit[1] | date}} </span><img class="ml-1" v-on:click="searchDateClear" src="https://i.snag.gy/VGpiUI.jpg" alt="">
                        </div>
                        <div class="btn btn-admin active mr-3" v-if="searchAttributes" v-for="(status, index) in searchStatus">
                            Статус: {{status}} <img class="ml-1" v-on:click="StatusClear(index)" src="https://i.snag.gy/VGpiUI.jpg" alt="">
                        </div>
                        <div class="btn btn-admin active mr-3" v-if="searchBuyerSubmit">
                            Покупатель: {{searchBuyerSubmit}} <img class="ml-1" v-on:click="searchBuyerClear" src="https://i.snag.gy/VGpiUI.jpg" alt="">
                        </div>
                    </div>
                    <div class="ml-auto text-muted">Найдено 16 шт.</div>
                </div>
            </div>
<div class="scroll bs-1 ">
            <div class="p-3 py-4 ">
                <div class="order-table">
                    <div class="order-table-header">
                        <div class="order-row order-row-small">
                            <input class="filter-input  w-100" v-bind:class="{ edit: searchId }" v-model="searchId" v-on:keyup.enter="searchIdLabel" type="number" placeholder="Номер">
                        </div>
                        <div class="order-row order-row-small">
                            <div class="dropdown  w-100">
                                <div class="" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="small filter-drop d-flex flex-row align-items-center">
                                        <div class="">Признаки</div>
                                    </div>
                                </div>
                                <div class="dropdown-menu filter" aria-labelledby="dropdownMenu2">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" value="Терминал" v-model="searchAttributes">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Терминал</span>
                                    </label>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" value="Подарок" v-model="searchAttributes">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Подарок</span>
                                    </label>
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input" value="В один клик" v-model="searchAttributes">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">В один клик</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="order-row order-row-small">
                            <div class="filter-drop w-100 " data-toggle>Дата</div>
                            <flat-pickr v-model="searchDate" input-class="height-0" :config="config" placeholder="Дата"></flat-pickr>
                        </div>
                        <div class="order-row">
                            <div class="dropdown w-100">
                                <div class="" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="small filter-drop d-flex flex-row align-items-center">
                                        <div class="">Статус</div>
                                    </div>
                                </div>
                                <div class="dropdown-menu filter" aria-labelledby="dropdownMenu2">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" value="Принят" v-model="searchStatus">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Принят</span>
                                    </label>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" value="Готов к выдаче" v-model="searchStatus">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Готов к выдаче</span>
                                    </label>
                                    <label class="custom-control custom-checkbox ">
                                        <input type="checkbox" class="custom-control-input" value="Доставляется" v-model="searchStatus">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Доставляется</span>
                                    </label>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" value="Выполнен" v-model="searchStatus">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Выполнен</span>
                                    </label>
                                    <label class="custom-control custom-checkbox ">
                                        <input type="checkbox" class="custom-control-input" value="Аннулирован" v-model="searchStatus">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Аннулирован</span>
                                    </label>
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input" value="Не подтвержден" v-model="searchStatus">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Не подтвержден</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="order-row order-row-large">
                            <input class="filter-input mr-5 w-100" v-bind:class="{ edit: searchBuyer }" v-model="searchBuyer" v-on:keyup.enter="searchBuyerLabel" type="text" placeholder="Покупатель">
                        </div>
                        <div class="order-row order-row-small">
                            <div class="dropdown  w-100">
                                <div class="" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="small filter-drop d-flex flex-row align-items-center">
                                        <div class="">Доступность</div>
                                    </div>
                                </div>
                                <div class="dropdown-menu filter" aria-labelledby="dropdownMenu2">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" value="Терминал" v-model="searchAttributes">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Терминал</span>
                                    </label>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" value="Подарок" v-model="searchAttributes">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Подарок</span>
                                    </label>
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input" value="В один клик" v-model="searchAttributes">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">В один клик</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="order-row order-row-large">
                            <div class="dropdown w-100">
                                <div class="" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="small filter-drop d-flex flex-row align-items-center">
                                        <div class="">Получение</div>
                                    </div>
                                </div>
                                <div class="dropdown-menu filter" aria-labelledby="dropdownMenu2">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" value="Терминал" v-model="searchAttributes">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Терминал</span>
                                    </label>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" value="Подарок" v-model="searchAttributes">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Подарок</span>
                                    </label>
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input" value="В один клик" v-model="searchAttributes">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">В один клик</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="order-row">
                            <div class="dropdown w-100">
                                <div class="" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="small filter-drop d-flex flex-row align-items-center">
                                        <div class="">К оплате</div>
                                    </div>
                                </div>
                                <div class="dropdown-menu filter dropdown-menu-right" aria-labelledby="dropdownMenu2">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" value="Терминал" v-model="searchAttributes">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Терминал</span>
                                    </label>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" value="Подарок" v-model="searchAttributes">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Подарок</span>
                                    </label>
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input" value="В один клик" v-model="searchAttributes">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">В один клик</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-list py-3">
                        <div class="order-item d-flex flex-row justify-content-between align-items-center py-3" v-for="(order, index) in orders">
                            <div class="order-row order-row-small">
                                <div class="">
                                    <a href="">{{order.id}}</a>
                                </div>
                            </div>
                            <div class="order-row order-row-small">
                                <div class="">
                                    <div class="d-inline-block" v-for="(attribute, index) in order.attributes">
                                        <div class="attribute" :class="attribute.attributesType" data-toggle="tooltip" data-placement="top" :title="attribute.attributesName"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="order-row order-row-small">
                                <div class="">
                                    {{order.date | time}} <div class="small text-nowrap  text-muted ">{{order.date | date}}</div>
                                </div>
                            </div>
                            <div class="order-row ">
                                <div class="text-nowrap small d-inline" :class="order.status.statusType">{{order.status.statusName}}</div>
                            </div>
                            <div class="order-row order-row-large">
                                <div class="text-nowrap ">
                                    <div class="">{{order.buyer.buyerName}}</div>
                                    <div class="small text-muted">{{order.buyer.buyerPhone}}</div>
                                </div>
                            </div>
                            <div class="order-row order-row-small">
                                <div class="mr-5">
                                    <div class="text-nowrap">{{order.availability | date}}</div>
                                </div>
                            </div>
                            <div class="order-row order-row-large">
                                <div class="mr-5 d-flex flex-row align-items-center">
                                    <div class="delivery-type" :class="order.delivery.deliveryType"></div>
                                    <div class="">
                                        <div class="">{{order.delivery.deliveryCity}} </div>
                                        <div class="small text-muted text-nowrap">{{order.delivery.deliveryName}}: {{order.delivery.deliveryPlace}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="order-row">
                                <div class="text-right">
                                    <div class="">{{order.orderSum | number}} р.</div>
                                    <div class="small text-muted">{{order.orderPaymentType}} </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>

        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/flatpickr@4.0.7/dist/flatpickr.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue-flatpickr-component@4.0.0/dist/vue-flatpickr.min.js" crossorigin="anonymous"></script>
        <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
        <script src="js/moment-with-locales.min.js"></script>
        <script src="https://unpkg.com/vue"></script>
        <script src="js/custom.js"></script>
    </body>
</html>
