<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
        <title>Список заказов</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/flatpickr@4.0.3/dist/flatpickr.min.css">
        <link rel="stylesheet" href="css/custom.css">
    </head>
    <body>
        <div id="app">
            <nav class="navbar navbar-inverse bg-primary">
                <div class="h5 text-white mb-0">Администратор</div>
            </nav>
            <div class="p-3">
                <!-- <nav class="breadcrumb bg-white p-0 mb-1 small">
                        <a class="breadcrumb-item" href="#">Главная</a>
                    </nav> -->
                <div class="d-flex flex-row">
                    <div class="h3 mb-0">Список заказов</div>
                    <button class="ml-auto btn btn-admin mr-2">
                        <img class="" src="https://i.snag.gy/6fGx1q.jpg" alt="">
                        <span class="d-none d-md-inline ml-2">Заказ</span>
                    </button>
                    <button class="btn btn-admin">
                        <img class="" src="https://i.snag.gy/6fGx1q.jpg" alt="">
                        <span class="d-none d-md-inline ml-2">Услуга</span>
                    </button>
                </div>
            </div>
            <div class="px-3 pt-3 bs-1 pb-0">
                <div class="d-flex flex-row align-items-center">
                    <div class="d-inline-block">
                        <!-- <select class="custom-select mr-2 mb-3">
                                                  <option selected>Сохраненные фильтры</option>
                                                  <option value="1">"Красные" статусы</option>
                                                  <option value="3">Добавить</option>
                                              </select> -->
                        <div class="dropdown d-inline mr-3">
                            <div class="btn btn-admin dropdown-toggle mb-3" id="dropdownMenu7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Мои фильтры
                                                  </div>
                            <div class="dropdown-menu filter" aria-labelledby="dropdownMenu7">
                                <div class="d-flex flex-row mb-2">
                                    <div class="">Красные статусы</div>
                                    <div class="ml-auto">
                                        <span aria-hidden="true">&times;</span>
                                    </div>
                                </div>
                                <div class="d-flex flex-row">
                                    <a href="">Добавить </a>
                                </div>
                            </div>
                        </div>
                        <!--  <div class="btn-group mt-2 mr-3" data-toggle="buttons">
                                <label class="btn btn-admin date-group"  @click="setToday">
                                    <input type="radio" id="one" :value="todaydate" v-model="searchDate">Сегодня
                                </label>
                                <label class="btn btn-admin date-group" @click="setYesterday">
                                    <input type="radio" value="54" id="option2" v-model="searchDate">Вчера

                                </label>
                                <label class="btn btn-admin d-none d-md-inline date-group" @click="setWeek">
                                    <input type="radio" id="option3" v-model="searchDate">Неделя

                                </label> 
                               <label class="btn btn-admin d-none d-md-inline date-group" @click="setmonth">
                                    <input type="radio" id="option4" v-model="searchDate">Месяц
                                </label> 
                            </div> -->
                        <div class="btn btn-admin active mr-3 mb-3" v-if="searchIdSubmit">
                            Номер заказа: {{searchIdSubmit}} <img class="ml-1" v-on:click="searchIdClear" src="https://i.snag.gy/VGpiUI.jpg" alt="">
                        </div>
                        <!-- <div class="btn btn-admin active mr-3 mb-3" v-if="searchAttributes" v-for="(Attributes, index) in searchAttributes">
                                Признак: {{Attributes}} <img class="ml-1" v-on:click="AttributesClear(index)" src="https://i.snag.gy/VGpiUI.jpg" alt="">
                            </div>
                             -->
                        <div class="btn btn-admin active d-inline-flex flex-row flex-wrap mb-3 mr-3" v-if="searchAttributes.length > 0">
                            <div class="d-inline mr-2">Признак:</div>
                            <div class=" mr-3 lch-0" v-for="(Attributes, index) in searchAttributes" v-on:click="AttributesClear(index)">
                                {{Attributes}} <img class="ml-1" src="https://i.snag.gy/VGpiUI.jpg" alt="">
                            </div>
                        </div>
                        <div class="btn btn-admin active mr-3 mb-3" v-if="searchDateSumbit[0]">
                            Дата: {{searchDateSumbit[0] | date}} <span class="" v-if="showTwoDatePlate">– {{searchDateSumbit[1] | date}} </span>
                            <img class="ml-1" v-on:click="searchDateClear" src="https://i.snag.gy/VGpiUI.jpg" alt="">
                        </div>
                        <div class="btn btn-admin active d-inline-flex flex-row flex-wrap mb-3 mr-3" v-if="searchStatus.length > 0">
                            <div class="d-inline mr-2">Статус:</div>
                            <div class=" mr-3 lch-0" v-for="(status, index) in searchStatus" v-on:click="StatusClear(index)">
                                {{status}} <img class="ml-1" src="https://i.snag.gy/VGpiUI.jpg" alt="">
                            </div>
                        </div>
                        <div class="btn btn-admin active mr-3 mb-3" v-if="searchBuyerSubmit">
                            Покупатель: {{searchBuyerSubmit}} <img class="ml-1" v-on:click="searchBuyerClear" src="https://i.snag.gy/VGpiUI.jpg" alt="">
                        </div>
                        <div class="btn btn-admin mb-3"  v-on:click="searchAllClear" v-if="searchBuyerSubmit||searchStatus.length > 0 || searchDateSumbit[0] || searchAttributes.length > 0 || searchIdSubmit">Сброс</div>
                    </div>
                    <div class="ml-auto mb-3" >
                        <div class="d-inline">Найдено 16 шт. </div>
                        <div class="d-inline">на {{allOrderSum | number}} р.</div>
                         <div class="d-inline small"><a href="">в (.xls)</a></div>
                    </div>
                </div>
            </div>
            <div class="bs-1 ">
                <div class="p-3 py-4 ">
                    <div class="order-table">
                        <div class="order-table-header">
                            <div class="order-row order-row-small">
                                <input class="filter-input  w-100" v-bind:class="{ edit: searchId }" v-model="searchId" v-on:keyup.enter="searchIdLabel" type="number" placeholder="Номер">
                                <!-- <div class="filter-state small my-1" v-if="searchIdSubmit" v-on:click="searchIdClear">
                                    Фильтр: 1<a href="#" class="ml-1">сброс</a>
                                </div> -->
                            </div>
                            <div class="order-row order-row-small">
                                <div class="dropdown  w-100">
                                    <div class="" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="small filter-drop d-flex flex-row align-items-center">
                                            <div class="">Признаки</div>
                                        </div>
                                    </div>
                                    <div class="dropdown-menu filter" aria-labelledby="dropdownMenu2">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="Терминал" v-model="searchAttributes">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Терминал</span>
                                        </label>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="Интернет" v-model="searchAttributes">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Интернет</span>
                                        </label>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="ПВЗ" v-model="searchAttributes">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">ПВЗ</span>
                                        </label>
                                        <label class="custom-control custom-checkbox ">
                                            <input type="checkbox" class="custom-control-input" value="Изменен в ERP" v-model="searchAttributes">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Изменен в ERP</span>
                                        </label>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="Подарок" v-model="searchAttributes">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Подарок</span>
                                        </label>
                                        <label class="custom-control custom-checkbox mb-0">
                                            <input type="checkbox" class="custom-control-input" value="В один клик" v-model="searchAttributes">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">В один клик</span>
                                        </label>
                                        <label class="custom-control custom-checkbox mb-0">
                                            <input type="checkbox" class="custom-control-input" value="Задержка проверки" v-model="searchAttributes">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Задержка проверки</span>
                                        </label>
                                        <label class="custom-control custom-checkbox mb-0">
                                            <input type="checkbox" class="custom-control-input" value="Проверка не пройдена" v-model="searchAttributes">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Проверка не пройдена</span>
                                        </label>
                                        <label class="custom-control custom-checkbox mb-0">
                                            <input type="checkbox" class="custom-control-input" value="Ошибка связи" v-model="searchAttributes">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Ошибка связи</span>
                                        </label>
                                    </div>
                                </div>
                                <!-- <div class="filter-state small my-1" v-if="searchAttributes.length>0" v-on:click="AttributesClearAll">
                                    Фильтр: {{searchAttributes.length}}<a href="#" class="ml-1">сброс</a>
                                </div> -->
                            </div>
                            <div class="order-row order-row-small">
                                <div class="filter-drop w-100 " data-toggle>Дата</div>
                                <flat-pickr v-model="searchDate" input-class="height-0" :config="config" placeholder="Дата"></flat-pickr>
                                <!-- <div class="filter-state small my-1" v-if="searchDate" v-on:click="searchDateClear">
                                    Фильтр: 1<a href="#" class="ml-1">сброс</a>
                                </div> -->
                            </div>
                            <div class="order-row">
                                <div class="dropdown w-100">
                                    <div class="" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="small filter-drop d-flex flex-row align-items-center">
                                            <div class="">Статус</div>
                                        </div>
                                    </div>
                                    <div class="dropdown-menu filter" aria-labelledby="dropdownMenu2">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="Выполнен" v-model="searchStatus">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description ">Выполнен</span>
                                        </label>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="Готов к получению" v-model="searchStatus">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description ">Готов к получению</span>
                                        </label>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="Ожидание поступления товара" v-model="searchStatus">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description ">Ожидание поступления товара</span>
                                        </label>
                                        <label class="custom-control custom-checkbox ">
                                            <input type="checkbox" class="custom-control-input" value="Аннулирован" v-model="searchStatus">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description ">Аннулирован</span>
                                        </label>
                                        <label class="custom-control custom-checkbox ">
                                            <input type="checkbox" class="custom-control-input" value="Оплачен" v-model="searchStatus">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description ">Оплачен</span>
                                        </label>
                                        <label class="custom-control custom-checkbox ">
                                            <input type="checkbox" class="custom-control-input" value="Ошибка наличия товара" v-model="searchStatus">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description ">Ошибка наличия товара</span>
                                        </label>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="В обработке" v-model="searchStatus">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description ">В обработке</span>
                                        </label>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="Ожидание подтверждения" v-model="searchStatus">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description ">Ожидание подтверждения</span>
                                        </label>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="Ожидание выполнения услуги" v-model="searchStatus">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description ">Ожидание выполнения услуги</span>
                                        </label>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="Готов к выдаче" v-model="searchStatus">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description ">Готов к выдаче</span>
                                        </label>
                                        <label class="custom-control custom-checkbox ">
                                            <input type="checkbox" class="custom-control-input" value="Согласование" v-model="searchStatus">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description ">Согласование</span>
                                        </label>
                                        <label class="custom-control custom-checkbox ">
                                            <input type="checkbox" class="custom-control-input" value="Согласование времени установки" v-model="searchStatus">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description ">Согласование времени установки</span>
                                        </label>
                                        <label class="custom-control custom-checkbox ">
                                            <input type="checkbox" class="custom-control-input" value="Ожидает оплаты" v-model="searchStatus">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description ">Ожидает оплаты</span>
                                        </label>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="Принят" v-model="searchStatus">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description ">Принят</span>
                                        </label>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="Готов к доставке" v-model="searchStatus">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description ">Готов к доставке</span>
                                        </label>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="Доставляется" v-model="searchStatus">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description ">Доставляется</span>
                                        </label>
                                        <label class="custom-control custom-checkbox ">
                                            <input type="checkbox" class="custom-control-input" value="Задержка поставки" v-model="searchStatus">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description ">Задержка поставки</span>
                                        </label>
                                        <label class="custom-control custom-checkbox ">
                                            <input type="checkbox" class="custom-control-input" value="Отказ в кредите" v-model="searchStatus">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description ">Отказ в кредите</span>
                                        </label>
                                        <label class="custom-control custom-checkbox mb-0">
                                            <input type="checkbox" class="custom-control-input" value="Рассмотрение кредита" v-model="searchStatus">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description ">Рассмотрение кредита</span>
                                        </label>

                                    </div>
                                </div>
                            </div>
                            <div class="order-row order-row-half-large">
                                <input class="filter-input  w-100" v-bind:class="{ edit: searchBuyer }" v-model="searchBuyer" v-on:keyup.enter="searchBuyerLabel" type="text" placeholder="Покупатель">
                            </div>
                            <div class="order-row order-row-large">
                                <div class="dropdown w-100">
                                    <div class="" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="small filter-drop d-flex flex-row align-items-center">
                                            <div class="">Получение</div>
                                        </div>
                                    </div>
                                    <div class="dropdown-menu filter" aria-labelledby="dropdownMenu2">
                                        <form>
                                            <div class="form-row mb-3">
                                                <div class="col">
                                                    <select class="custom-select w-100">
                                                        <option selected>Город</option>
                                                        <option value="1">Здесь </option>
                                                        <option value="2">НУЖЕН</option>
                                                        <option value="2">ПОИСК</option>
                                                        <option value="3">select2</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-row ">
                                                <div class="col">
                                                    <select class="custom-select w-100">
                                                        <option selected>Способ получения</option>
                                                        <option value="1">Самовывоз</option>
                                                        <option value="2">Доставка</option>
                                                        <option value="2">Доставка(экспресс)</option>
                                                        <option value="3">СДЭК</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="order-row order-row-small">
                                <div class="dropdown  w-100">
                                    <div class="" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="small filter-drop d-flex flex-row align-items-center">
                                            <div class="">Доступность</div>
                                        </div>
                                    </div>
                                    <div class="dropdown-menu filter dropdown-menu-right" aria-labelledby="dropdownMenu2">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="Терминал" v-model="searchAttributes">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Равна дате заказа</span>
                                        </label>
                                        <label class="custom-control custom-checkbox mb-0">
                                            <input type="checkbox" class="custom-control-input" value="Подарок" v-model="searchAttributes">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Не равна дате заказа</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="order-row">
                                <div class="dropdown w-100">
                                    <div class="" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="small filter-drop d-flex flex-row align-items-center">
                                            <div class="">Оплата</div>
                                        </div>
                                    </div>
                                    <div class="dropdown-menu filter dropdown-menu-right" aria-labelledby="dropdownMenu2">
                                        <form>
                                            <div class="form-row mb-3">
                                                <div class="col">
                                                    <input type="text" class="form-control form-control-sm" placeholder="Сумма от">
                                                </div>
                                                <div class="col">
                                                    <input type="text" class="form-control form-control-sm" placeholder="до">
                                                </div>
                                            </div>
                                        </form>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="Оплата при получении" v-model="searchAttributes">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Оплата при получении</span>
                                        </label>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="Онлайн оплата" v-model="searchAttributes">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Онлайн оплата</span>
                                        </label>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="Кредит / Рассрочка" v-model="searchAttributes">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Кредит / Рассрочка</span>
                                        </label>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="Безналичный расчет (банковский перевод)" v-model="searchAttributes">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Безналичный расчет (банковский перевод)</span>
                                        </label>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="Онлайн кредит" v-model="searchAttributes">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Онлайн кредит</span>
                                        </label>
                                       
                                        <label class="custom-control custom-checkbox mb-0">
                                            <input type="checkbox" class="custom-control-input" value="Оплата (картой) при получении" v-model="searchAttributes">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Оплата (картой) при получении</span>
                                        </label>

                                        <hr>
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" value="Оплачен" v-model="searchAttributes">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Оплачен</span>
                                        </label>
                                        <label class="custom-control custom-checkbox mb-0">
                                            <input type="checkbox" class="custom-control-input" value="Не оплачен" v-model="searchAttributes">
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">Не оплачен</span>
                                        </label>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order-list py-3">
                            <div class="order-item d-flex flex-row justify-content-between align-items-center py-3" v-for="(order, index) in orders">
                                <div class="order-row order-row-small">
                                    <div class="d-flex flex-row align-items-center ">
                                        <a href="item.html">{{order.id}} </a>
                                        <!-- <img v-if="order.orderPaymentType=='Онлайн оплата'" class="ml-2 " src="https://i.snag.gy/bL9RwC.jpg" alt="" data-toggle="tooltip" data-placement="bottom" title="Комментарий"> -->
                                        <div class="mb-1 ">
                                            <img class="comment ml-2   " :class="order.comment" src="https://i.snag.gy/bL9RwC.jpg" alt="" data-toggle="tooltip" data-placement="right" title="Комментарий+добавление"><div v-if="order.comment" class="small d-inline ml-1">1</div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="order-row order-row-small">
                                    <div class="">
                                        <div class="d-inline-block" v-for="(attribute, index) in order.attributes">
                                            <div class="small mr-2">{{attribute.attributesName}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="order-row order-row-small">
                                    <div class="">
                                        {{order.date | date}} <div class="small text-nowrap">{{order.date | time}}</div>
                                    </div>
                                </div>
                                <div class="order-row ">
                                    <div class="text-nowrap small d-inline">
                                        <div class="text-truncate" :class="order.status.statusType">{{order.status.statusName}}</div>
                                    </div>
                                </div>
                                <div class="order-row order-row-half-large">
                                    <div class="">
                                        <div class="">{{order.buyer.buyerName}}</div>
                                        <div class="small ">{{order.buyer.buyerPhone}}</div>
                                    </div>
                                </div>
                                <div class="order-row order-row-large">
                                    <div class=" d-flex flex-row align-items-center">
                                        <div class="delivery-type" :class="order.delivery.deliveryType"></div>
                                        <div class="">
                                            <div class="">{{order.delivery.deliveryName}}: {{order.delivery.deliveryPlace}}</div>
                                            <div class="small">
                                                {{order.delivery.deliveryCity}} <div v-if="order.delivery.deliveryCity=='Москва'" class="d-inline" id="localtime"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="order-row order-row-small">
                                    <div class="">
                                        <div class="text-nowrap">{{order.availability | date}}</div>
                                        <div class="small">из 102</div>
                                    </div>
                                </div>
                                <div class="order-row">
                                    <div class="text-right">
                                        <a href="#" class="d-inline" data-toggle="tooltip" data-placement="bottom" title="Содержимое заказа">{{order.orderSum | number}} р.</a>
                                        <div class="small text-nowrap text-truncate" :class="order.orderPaymentState">{{order.orderPaymentType}} </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://www.gstatic.com/firebasejs/4.8.0/firebase.js"></script>
        <script src="https://unpkg.com/vuefire@1.3.0/dist/vuefire.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/flatpickr@4.0.7/dist/flatpickr.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue-flatpickr-component@4.0.0/dist/vue-flatpickr.min.js" crossorigin="anonymous"></script>
        <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
        <script src="js/moment-with-locales.min.js"></script>
        <script src="https://unpkg.com/vue"></script>
        <script src="js/custom.js"></script>
    </body>
</html>
