<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Главная</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=0">
	<link rel="stylesheet prefetch" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css" rel="stylesheet">
	<link href="css/c-style.css" rel="stylesheet">
</head>
<body>
	<div id="app" class="main-layout" :class="live">
		<div class="live" v-if="live == 'showlive'">
			<div class="bg-light p-2">
				<div class="d-flex small c-pointer" v-on:click="liveoff">Скрыть</div>
			</div>
			<div class="d-flex flex-row align-items-center p-3">
				<div class="h1 mb-0">Прямой эфир</div>
				<div class="ml-3  pulse"></div>
			</div>
			<div class="scrol-plate">
				<ul class="list-unstyled small">
					<li class="media mb-4 " v-for="(live, index) in lives">
						<div class="media-body">
							<div class="  mb-1">{{live.type}}</div>
							<a href="" class="">{{live.title}}</a>
							<div class="">{{live.desc}}
							</div>
							<div class="d-flex flex-row align-items-center justify-content-between mt-2">
								<a class="dotted-link small " href="">Ответить</a>
								<div class="text-secondary small">{{live.date | fdate}} {{live.author}}</div>
							</div>
						</div>
					</li>
				</ul>
				<div class="text-center mb-3">Загрузка</div>
			</div>
		</div>
		<div class="d-lg-none">
			<div class="container">
				<div class="row bb-1 py-3">
					<div class="col-12">
						<div class="d-flex flex-row align-items-center justify-content-between">
							<img src="https://i.snag.gy/23I0JN.jpg" alt="">
							<img class="logo " src="https://i.snag.gy/p4txCj.jpg" alt="">
							
							<img src="https://i.snag.gy/7rBCoa.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="row-12 pt-3">
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
							<div class="d-flex flex-row align-items-center justify-content-between mb-0">
								<div class="h1 mb-0">
									<a href="">Блоги</a>
								</div>
								<div class="d-flex flex-row align-items-center">
									<img src="https://i.snag.gy/sU7jur.jpg" alt="" class="mr-2">
									<div class="font-weight-bold dotted-link mb-1">
										<a href="">Написать</a>
									</div>
								</div>
							</div>
							<div class="" v-for="(post, index) in posts">
								<div class="py-3 bb-1">
									<div class="row">
										<div class="col-12 d-flex flex-column ">
											<div class="h3 ">
												<a href="">{{post.title}}</a>
											</div>
											<div class="d-flex flex-row align-items-center mb-3">
												<div class="d-flex flex-row ">
													<div class="" v-for="(tag, index) in post.tags" v-if="index == 1">
														<div class="  ">
															<a class="text-secondary" href="">{{tag}} 
															</a>
														</div>
													</div>
												</div>
											</div>
											<div class="post-image-wrap mb-3">
												<div class="post-rating">
													<div class="badge-blue">Pro-обзор
													</div>
												</div>
												<img :src="post.fullimg" alt="" class="rounded img-fluid">
											</div>
											<div class="text-dark mb-2 short-text">{{post.desc }}</div>
											<div class="d-flex flex-row align-items-center mb-3">
												<div class="small text-secondary">
													{{post.date | fdate}} <a href="">{{post.author}}</a>
												</div>
											</div>
											<div class="d-flex flex-row align-items-center justify-content-between mb-0">
												<div class="d-flex flex-row align-items-center  rating-plate">
													<img src="https://i.snag.gy/Fi9pUx.jpg" class="mr-2" alt="">
													<div class="small text-success font-weight-bold ">{{post.rating}} </div>
												</div>
												<div class="d-flex flex-row align-items-center  ">
													<img src="https://i.snag.gy/vUm5at.jpg" alt="" class="mr-2">
													<div class="small text-secondary">{{post.view}}</div>
												</div>
												<div class="d-flex flex-row align-items-center ">
													<img src="https://i.snag.gy/RQU1ZA.jpg" alt="" class="mr-2">
													<div class="small text-secondary">{{post.comment}} </div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
							<div class="d-flex flex-row align-items-center justify-content-between mb-0">
								<div class="h1 mb-0">
									<a href="">Новости</a>
								</div>
							</div>
							<div class="" v-for="(newitem, index) in news">
								<div class="py-3 bb-1">
									<div class="row">
										<div class="col-12 d-flex flex-column ">
											<div class="h3 mb-3">
												<a href="">{{newitem.title}}</a>
											</div>
                                                <!-- <div class="d-flex flex-row align-items-center mb-3">
												<div class="d-flex flex-row ">
													<div class="" v-for="(tag, index) in post.tags"  v-if="index == 1">
														<div class="  ">
															<a class="text-secondary" href="">
																{{tag}} 
															</a>
														</div>
													</div>
												</div>
											</div> -->
											<div class="post-image-wrap mb-2">
												<img :src="newitem.fullimg" alt="" class="rounded img-fluid">
											</div>
											<div class="text-dark mb-2 short-text">{{newitem.desc }}</div>
											<div class="d-flex flex-row align-items-center mb-3">
												<div class="small text-secondary">
													{{newitem.date | fdate}} <a href="">{{newitem.author}}</a>
												</div>
											</div>
											<div class="d-flex flex-row align-items-center justify-content-between mb-0">
												<div class="d-flex flex-row align-items-center  rating-plate">
													<img src="https://i.snag.gy/Fi9pUx.jpg" class="mr-2" alt="">
													<div class="small text-success font-weight-bold ">{{newitem.rating}} </div>
												</div>
												<div class="d-flex flex-row align-items-center  ">
													<img src="https://i.snag.gy/vUm5at.jpg" alt="" class="mr-2">
													<div class="small text-secondary">{{newitem.view}}</div>
												</div>
												<div class="d-flex flex-row align-items-center ">
													<img src="https://i.snag.gy/RQU1ZA.jpg" alt="" class="mr-2">
													<div class="small text-secondary">{{newitem.comment}} </div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="ask-tab" role="tabpanel" aria-labelledby="pills-ask-tab">
							<div class="d-flex flex-row align-items-center justify-content-between ">
								<div class="h1 mb-0">
									<a href="">Вопросы</a>
								</div>
								<div class="d-flex flex-row align-items-center">
									<img src="https://i.snag.gy/6EW0zx.jpg" alt="" class="mr-2">
									<div class="font-weight-bold dotted-link mb-1">
										<a href="">Спросить</a>
									</div>
								</div>
							</div>
							<div v-for="(ask, index) in orderedAsks" v-if="index != 0" class="py-3 bb-1">
								<div class="d-flex flex-column">
									<div class="mt-0 mb-2">{{ask.product}}</div>
									<div class="mb-3">
										<a href="" class="text-dark">{{ask.desc}}</a>
									</div>
									<div class="d-flex flex-row align-items-center justify-content-between mt-auto">
										<a href="#" class="dotted-link small ">Ответить</a>
										<div class="text-secondary small">
											{{ask.date | fdate}} <a href="">{{ask.author}}</a>
										</div>
									</div>
								</div>
							</div>
							
							<!-- <button type="button" class="btn btn-secondary btn-block mb-5 pb-2">Показать все</button> -->
						</div>
						<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
							<div class="d-flex flex-row align-items-center ">
								<div class="h1 mb-0">Прямой эфир</div>
								<div class="ml-3  pulse"></div>
							</div>
							<ul class="list-unstyled ">
								<li class="media py-3 bb-1" v-for="(live, index) in lives">
									<div class="media-body">
										<div class="  mb-1">{{live.type}}</div>
										<a href="" class="">{{live.title}}</a>
										<div class="mb-3">{{live.desc}}
										</div>
										<div class="d-flex flex-row align-items-center justify-content-between mt-2">
											<a class="dotted-link small " href="">Ответить</a>
											<div class="text-secondary small">{{live.date | fdate}} {{live.author}}</div>
										</div>
									</div>
								</li>
							</ul>
							<button type="button" class="btn btn-secondary btn-block">Показать все</button>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom-plate fixed-bottom">
				<ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Блоги</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Новости</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-ask-tab" data-toggle="pill" href="#ask-tab" role="tab" aria-controls="ask-tab" aria-selected="false">Вопросы</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Эфир <span class="badge badge-light ">+4</span></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="bg-light d-none d-lg-block">
			<div class="bg-light">
				<div class="container ">
					<div class="row py-2">
						<div class="col-8">
							<div class="d-flex flex-row align-items-center mr-5">
								<div class="small text-secondary mr-3">DNS</div>
								<div class="small text-secondary mr-3">DNS Технопоинт</div>
								<div class="small text-secondary mr-3">DNS Сервис</div>
							</div>
							<div class="d-flex flex-row align-items-center mr-5"></div>
						</div>
						<div class="col-4">
							<div class="d-flex flex-row align-items-center justify-content-between">
								<div class="small text-secondary ">
									<img class="mr-2 mb-1" src="https://i.snag.gy/35Eqzh.jpg" alt="">Тур по сайту
								</div>
								<div class="small text-secondary c-pointer" v-on:click="liveon" v-if="live == ''">
									<img class="mr-2 mb-1" src="https://i.snag.gy/iNKObg.jpg" alt="">Эфир
								</div>
								<div class="small text-secondary font-weight-bold">Вход | Регистрация</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bg-white shadow-plate mb-4 sticky-top ">
				<div class="container">
					<div class="row py-3">
						<div class="col-8 d-flex flex-row align-items-center ">
							<img class="logo mr-5" src="https://i.snag.gy/p4txCj.jpg" alt="">
							<div class="d-flex flex-row align-items-center justify-content-around  w-100">
								<a class=" px-1" href="#">Блоги</a>
								<a class=" px-1" href="#">Помощь эксперта</a>
								<a class=" px-1" href="#">Новости</a>
								<a class=" px-1 mr-4" href="#">Участники</a>
							</div>
							<!-- <img class="ml-auto" src="https://i.snag.gy/7rBCoa.jpg" alt=""> -->
						</div>
						<div class="col-4">
							<input type="text" class="form-control search" placeholder="Поиск по сайту">
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row mb-4" v-if="promoreg">
					<div class="col-12 ">
						<div class="card">
							<div class="card-body">
								<button type="button" class="close" v-on:click="promoreg = !promoreg" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<div class="d-flex flex-row align-items-center ">
									<div class="d-flex flex-row align-items-center mr-4">
										<img class="mr-3 img-60" src="https://i.snag.gy/aZNYQy.jpg" alt="Generic placeholder image">
										<div class="small">Зарегистрируйся и стань участником клуба DNS</div>
									</div>
									<div class="d-flex flex-row align-items-center mr-4">
										<img class="mr-3 img-60" src="https://i.snag.gy/O8Yv9M.jpg" alt="Generic placeholder image">
										<div class="small">Отвечай на вопросы пользователей, пиши на форуме, публикуй обзоры и зарабатывай рейтинг</div>
									</div>
									<div class="d-flex flex-row align-items-center mr-4">
										<img class="mr-3 img-60" src="https://i.snag.gy/Zq4t7z.jpg" alt="Generic placeholder image">
										<div class="small">Получай возможность выиграть призы от клуба DNS и его спонсоров</div>
									</div>
									<button type="button" class="btn btn-primary ">Стать участником</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-lg-8">
						<div class="card mb-4">
							<div class="card-body p-0">
								<div class="main-post d-flex flex-column ">
									<div class="mb-2 mt-auto">
										<div class=" badge-orange d-inline-block">Лучшее за день</div>
									</div>
									<div class="h1 w-75">
										<a href="" class="text-white">Обзор ADATA XPG Spectrix D41 3200 PC4-25600. Кому 8 ГБ скоростной радуги?</a>
									</div>
									<div class="d-flex flex-row align-items-center justify-content-between">
										<div class="d-flex flex-row ">
											<div class=" small ">
												<a href="" class="text-white ">Офисная и торговая техника </a>
											</div>
										</div>
										<div class="d-flex flex-row align-items-center ">
											<div class="small text-white">
												17 дней назад 
												<a class="text-white" href="">Олег_777</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-body">
								<div class="d-flex flex-row align-items-center justify-content-between mb-4">
									<div class="h1 mb-0">
										<a href="">Блоги</a>
									</div>
									<div class="d-flex flex-row align-items-center">
										<img src="https://i.snag.gy/sU7jur.jpg" alt="" class="mr-2">
										<div class="font-weight-bold dotted-link mb-1">
											<a href="">Написать</a>
										</div>
									</div>
								</div>
								<div class="" v-for="(post, index) in posts">
									<div class="pb-5">
										<div class="row">
											<div class="col-4 ">
												<div class="post-image-wrap">
													<div class="post-rating">
														<div class="badge-blue">Pro-обзор
															
														</div>
													</div>
													<img :src="post.fullimg" alt="" class="rounded  img-fluid">
												</div>
											</div>
											<div class="col-8 d-flex flex-column ">
												<!-- <div class="mb-2" ><div v-for="(badge, index) in post.badges" :class="badge.style" class="badge ">{{badge.name}}</div></div> -->
                                                    <!-- <div class="d-flex flex-row mb-2">
														<div class="" v-for="(tag, index) in post.tags"  v-if="index == 0">
															<div class="">
																<a class="text-secondary" href="">
																	{{tag}} 
																</a>
															</div>
														</div>
													</div> -->
													<div class="h3 title">
														<a href="" >{{post.title}}</a>
													</div>
													<div class="d-flex flex-row align-items-center mb-2">
														<div class="d-flex flex-row ">
															<div class="" v-for="(tag, index) in post.tags" v-if="index == 1">
																<div class="  ">
																	<a class="text-secondary" href="">{{tag}} 
																	</a>
																</div>
															</div>
														</div>
													</div>
													<div class="text-dark mb-2 short-text">{{post.desc }}</div>
													<div class="d-flex flex-row align-items-center justify-content-between">
														<div class="d-flex flex-row align-items-center ">
															<div class="d-flex flex-row align-items-center mr-4 rating-plate">
																<img src="https://i.snag.gy/Fi9pUx.jpg" class="mr-2" alt="">
																<div class="small text-success font-weight-bold ">{{post.rating}} </div>
															</div>
															<div class="d-flex flex-row align-items-center mr-4 ">
																<img src="https://i.snag.gy/vUm5at.jpg" alt="" class="mr-2">
																<div class="small text-secondary">{{post.view}}</div>
															</div>
															<div class="d-flex flex-row align-items-center ">
																<img src="https://i.snag.gy/RQU1ZA.jpg" alt="" class="mr-2">
																<div class="small text-secondary">{{post.comment}} </div>
															</div>
														</div>
														<div class="d-flex flex-row align-items-center ">
															<div class="small text-secondary">
																{{post.date | fdate}} <a href="">{{post.author}}</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="forum-plate mb-5" v-if="index == 2 ">
											<div class="h2 my-4">
												<a href="">Горячее обсуждение</a>
											</div>
											<ul class="list-unstyled mb-0 pb-3">
												<li class="media mb-4 " v-for="(forum, index) in forums">
													<img :src="forum.img" alt="" class="mr-4 mt-1">
													<div class="media-body">
														<a href="" class="">{{forum.title}}</a>
														<div class="d-flex flex-row align-items-center">
															<div class="d-flex flex-row align-items-center w-px-90">
																<img src="https://i.snag.gy/vUm5at.jpg" alt="" class="mr-2">
																<div class="small text-secondary">{{forum.view}} </div>
															</div>
															<div class="d-flex flex-row align-items-center mr-1">
																<img src="https://i.snag.gy/RQU1ZA.jpg" alt="" class="mr-2">
																<div class="small text-secondary">{{forum.comment}} ответов</div>
															</div>
															<div class="text-secondary small">последний {{forum.date | fdate}}</div>
														</div>
													</div>
												</li>
											</ul>
										</div>
										<div class="forum-plate " v-if="index == 5">
											<div class="h2 my-4">
												<a href="">Гайды</a>
											</div>
											<div class="row mb-4">
												<div class="col-4 d-flex flex-column" v-for="(guid, index) in guids">
													<img :src="guid.img" alt="" class="rounded">
													<div class="post-image-wrap mb-3"></div>
													<div class="d-flex flex-column media-body">
														<div class="small text-secondary mb-1">
															{{guid.date | fdate}} <a href="">{{guid.author}}</a>
														</div>
														<div class="mb-2">
															<a href="" class="">{{guid.title}}</a>
														</div>
														<div class="d-flex flex-row align-items-center mt-auto">
															<div class="d-flex flex-row align-items-center mr-4 rating-plate">
																<img src="https://i.snag.gy/Fi9pUx.jpg" class="mr-2" alt="">
																<div class="small text-success font-weight-bold ">{{post.rating}} </div>
															</div>
															<div class="d-flex flex-row align-items-center w-px-90">
																<img src="https://i.snag.gy/vUm5at.jpg" alt="" class="mr-2">
																<div class="small text-secondary">{{guid.view}} </div>
															</div>
															<div class="d-flex flex-row align-items-center mr-1">
																<img src="https://i.snag.gy/RQU1ZA.jpg" alt="" class="mr-2">
																<div class="small text-secondary">{{guid.comment}}</div>
															</div>
                                                            <!-- 
                                                            	<div class="text-secondary small">последний {{guid.date | fdate}}</div> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                            	<div class="card mb-4">
                            		<div class="card-body">
                            			<div class="d-flex flex-row align-items-center justify-content-between mb-4">
                            				<div class="h1 mb-0">
                            					<a href="">Новости</a>
                            				</div>
                            			</div>
                            			<ul class="list-unstyled ">
                            				<li class="d-flex flex-row mb-4" v-for="(newitem, index) in news">
                            					<div class="">
                            						<div class="small mb-1">
                            							<a href="" class="text-dark">{{newitem.title}}</a>
                            						</div>
                            						<div class="text-secondary small">
                            							{{newitem.date | fdate}} <a href="">{{newitem.author}}</a>
                            						</div>
                            					</div>
                            					<div class="ml-3">
                            						<img :src="newitem.img" alt="" class="rounded">
                            					</div>
                            				</li>
                            			</ul>
                            			<!-- <button type="button" class="btn btn-secondary btn-block" >Показать все</button> -->
                            		</div>
                            	</div>
                            	<div class="card mb-4">
                            		<div class="card-body">
                            			<div class="d-flex flex-row align-items-center justify-content-between mb-2">
                            				<div class="h1 mb-0">
                            					<a href="">Вопросы</a>
                            				</div>
                            				<div class="d-flex flex-row align-items-center">
                            					<img src="https://i.snag.gy/6EW0zx.jpg" alt="" class="mr-2">
                            					<div class="font-weight-bold dotted-link mb-1">
                            						<a href="">Спросить</a>
                            					</div>
                            				</div>
                            			</div>
                            			<div class="ask-list">
                            				<local-swiper ref="awesomeSwiperC" :options="swiperOptionC">
                            					<local-slide v-for="(ask, index) in orderedAsks" v-if="index != 0">
                            						<div class="d-flex flex-column mb-2">
                            							<div class="mt-0 mb-1">{{ask.product}}</div>
                            							<div class="small mb-1">
                            								<a href="" class="text-dark">{{ask.desc}}</a>
                            							</div>
                            							<div class="d-flex flex-row align-items-center justify-content-between mt-auto">
                            								<a href="#" class="dotted-link small ">Ответить</a>
                            								<div class="text-secondary small">
                            									{{ask.date | fdate}} <a href="">{{ask.author}}</a>
                            								</div>
                            							</div>
                            						</div>
                            					</local-slide>
                            					<div class="swiper-scrollbar" slot="scrollbar"></div>
                            				</local-swiper>
                            			</div>
                            		</div>
                            	</div>
                            	<div class="card mb-4">
                            		<div class="card-body">
                            			<div class="h1 mb-1">Лидеры</div>
                            			<ul class="nav nav-tabs  mb-4 bg-white " id="myTab" role="tablist">
                            				<li class="nav-item">
                            					<a class="nav-link active" aria-selected="true">Неделя</a>
                            				</li>
                            				<li class="nav-item">
                            					<a class="nav-link" aria-selected="false">Месяц</a>
                            				</li>
                            				<li class="nav-item">
                            					<a class="nav-link" aria-selected="false">Все время</a>
                            				</li>
                            			</ul>
                            			<ul class="list-unstyled">
                            				<li class="media mb-3" v-for="(user, index) in topUsers">
                            					<img class="mr-3 img-60 rounded-circle " :src="user.img">
                            					<div class="media-body align-self-center">
                            						<div class="">
                            							<a href="" class=" ">{{user.name}}</a>
                            						</div>
                            						<div class="small d-inline-block">{{user.count}} баллов</div>
                            						<div class="text-success small d-inline-block">+ {{user.up}}</div>
                            					</div>
                            				</li>
                            			</ul>
                            			<button type="button" class="btn btn-secondary btn-block">Весь список</button>
                            		</div>
                            	</div>
                            	<div class="card mb-3">
                            		<div class="card-body">
                            			<div class="h1 mb-3">Последние награды</div>
                            			<ul class="list-unstyled">
                            				<li class="media mb-4">
                            					<img class="mr-3 " src="https://i.snag.gy/2KJYFl.jpg">
                            					<div class="media-body">
                            						<div class="font-weight-bold">Активист</div>
                            						<div class="small">Дается за 250 комментариев за последние 3 месяца</div>
                            						<div class="small text-secondary">
                            							7 минут назад <a href="">Антон</a>
                            						</div>
                            					</div>
                            				</li>
                            				<li class="media mb-4">
                            					<img class="mr-3 " src="https://i.snag.gy/sXIjOr.jpg">
                            					<div class="media-body">
                            						<div class="font-weight-bold">Признание</div>
                            						<div class="small">Дается за 100 лайков </div>
                            						<div class="small text-secondary">
                            							7 минут назад <a href="">Василий</a>
                            						</div>
                            					</div>
                            				</li>
                            				<li class="media mb-4">
                            					<img class="mr-3 " src="https://i.snag.gy/pSKLce.jpg">
                            					<div class="media-body">
                            						<div class="font-weight-bold">Учитель</div>
                            						<div class="small">Дается за 100 лайков или дислайков чужим комментариям</div>
                            						<div class="small text-secondary">
                            							7 минут назад <a href="">Александра</a>
                            						</div>
                            					</div>
                            				</li>
                            			</ul>
                            			<button type="button" class="btn btn-secondary btn-block">Все награды</button>
                            		</div>
                            	</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- lakfjlkdfjlsdjflkadfslakfjlkdfjlsdjflkadfslakfjlkdfjlsdjflkadfslakfjlkdfjlsdjflkadfs -->
                <div class="modal fade" id="addAsk" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                	<div class="modal-dialog" role="document">
                		<div class="modal-content">
                			<div class="modal-header">
                				<h5 class="modal-title" id="exampleModalLabel">Добавление вопроса</h5>
                				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                					<span aria-hidden="true">&times;</span>
                				</button>
                			</div>
                			<div class="modal-body">
                				<input class="form-control mb-3" type="text" v-model="newAsk.product" placeholder="Товар">
                				<input class="form-control mb-3" type="text" v-model="newAsk.img" placeholder="Сcылка на изображение">
                				<input class="form-control mb-3" type="text" v-model="newAsk.author" placeholder="Автор">
                				<textarea class="form-control mb-3" rows="3" v-model="newAsk.desc" placeholder="Вопрос"></textarea>
                				<button type="button" class="btn btn-primary" v-on:click="addAsk">Отправить</button>
                			</div>
                		</div>
                	</div>
                </div>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
            <script src="https://unpkg.com/vue"></script>
            <script src="https://cdn.jsdelivr.net/npm/vue-awesome-swiper@3.1.2/dist/vue-awesome-swiper.js"></script>
            <script src="https://gstatic.com/firebasejs/4.2.0/firebase.js"></script>
            <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
            <script src="https://unpkg.com/dayjs@1.6.9/dayjs.min.js"></script>
            <script src="https://unpkg.com/dayjs@1.6.9/plugin/relativeTime.js"></script>
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
            <script src="js/ru.js"></script>
            <script src="js/custom.js"></script>
        </body>
        </html>
