<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Главная</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=0" >
	<link rel="stylesheet prefetch" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/css/swiper.min.css" rel="stylesheet">

	<link href="css/c-style.css" rel="stylesheet">
</head>
<body>

	<div id="app" class="main-layout">
		<div class="live ">
			<div class="d-flex flex-row align-items-center p-3"> 
				<div class="h1 mb-0">Прямой эфир</div> 
				<div class="ml-3  pulse"></div>
			</div>
			<div class="scrol-plate">
				<ul class="list-unstyled small" >
					<li class="media mb-4 " v-for="(live, index) in lives">
						<div class="media-body">
							<div class="  mb-1">{{live.type}}</div>

							<a href="" class="">{{live.title}}</a>
							<div class="">
								{{live.desc}}
							</div>
							<div class="d-flex flex-row align-items-center justify-content-between mt-2">
								<a class="dotted-link small ">Ответить</a>
								<div class="text-secondary small">{{live.date | fdate}} {{live.author}}</div>
							</div>
						</div>
					</li>
				</ul>
				<div class="text-center mb-3">Загрузка</div>
			</div>

			
		</div>

		<div class="d-lg-none">
			<div class="container">
				<div class="row b-b-1 py-3">
					<div class="col-12">
						<div class="d-flex flex-row align-items-center justify-content-between">
							<img class="logo mr-5" src="https://i.snag.gy/rhv1jA.jpg" alt="">
							<img src="https://i.snag.gy/23I0JN.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="row-12 pt-3">
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
							<div class="h1 mb-2">Вопросы пользователей</div>
							
							<div class="tab-content" id="myTabContent">
								<div class="tab-pane fade show active" id="ask" role="tabpanel">
									<div class="d-flex flex-row align-items-center justify-content-between p-3 bg-white shadow-plate-lg m-card-0"> 
										<div class="">
											<div class="h3 mb-0">
												<a href="">Всего 616 тыс.</a>
											</div>
											<div class="">1 481 за сегодня</div>
										</div>
										<button type="button" class="btn btn-outline-primary"  data-toggle="modal" data-target="#addAsk">Задать вопрос</button>
									</div>
									<div class="ask-list pt-4 px-3 m-card-0">
										<ul class="list-unstyled" >
											<li class="media mb-4" v-for="(ask, index) in orderedAsks">
												<img class="mr-3 img-60" :src="ask.img">
												<div class="media-body">
													<div class="mt-0 small mb-1">{{ask.product}}</div>
													<div class="">
														<a href="" class="">{{ask.desc}}</a>
													</div>
													<div class="d-flex flex-row align-items-center justify-content-between mt-2">
														<a class="dotted-link small ">Ответить</a>
														<div class="text-secondary small">{{ask.date | fdate}} {{ask.author}}</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
									<button type="button" class="btn btn-secondary btn-block" >Все вопросы</button>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
							<div class="h1 mb-2">Записи в блогах</div>
							<ul class="nav nav-tabs m-card-0  px-3 bg-white " id="myTab" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" id="ask-tab" data-toggle="tab" href="#ask" role="tab" aria-controls="ask" aria-selected="true">Свежие</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="false">Лучшие</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="false">Обсуждаемые</a>
								</li>
							</ul>
							<div class="tab-content" id="myTabContent">
								<div class="tab-pane fade show active" id="ask" role="tabpanel">
									<div class="d-flex flex-row align-items-center justify-content-between p-3 bg-white shadow-plate-lg m-card-0"> 
										<div class="">
											<div class="h3 mb-0">
												<a href="">Всего 78 постов</a>
											</div>
											<div class="">6 за сегодня</div>
										</div>
										<button type="button" class="btn btn-outline-primary"  data-toggle="modal" data-target="#addAsk">Создать блог</button>
									</div>
									<div class="" v-for="(post, index) in posts">
										<div class=" m-card-0 p-3 py-4" :class="post.type">
											<button type="button" v-if="post.type == 'alert-post'"  class="close" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
											<div  v-if="post.type == 'alert-post'" class="text-secondary small mb-2">Закрепленная запись</div>
											<div class="h3">
												<a href="">{{post.title}}</a>
											</div>
											<div class="d-inline-block mr-1" v-for="(tag, index) in post.tags">
												<div class="text-secondary small mb-3">{{tag}}</div>
											</div>
											<img v-if="post.img != 0" :src="post.img" alt="" class="img-fluid mb-3">
											<div class="text-dark mb-3">{{post.desc}}</div>
											<div class="d-flex flex-column">
												<div class="d-flex flex-row align-items-center justify-content-between mb-3">
													<button type="button" class="btn btn-secondary">Читать далее</button>
													<div class="d-flex flex-row align-items-center">
														<div class="d-flex flex-row align-items-center ">
															<div class="small text-secondary">{{post.date | fdate}}</div>
														</div>
													</div>
												</div>
												<div class="d-flex flex-row align-items-center justify-content-between">
													<div class="d-flex flex-row "><div class="d-flex flex-row align-items-center mr-4">
														<img src="https://i.snag.gy/vUm5at.jpg" alt="" class="mr-2">
														<div class="small text-secondary">{{post.view}}</div>
													</div>
													<div class="d-flex flex-row align-items-center mr-4">
														<img src="https://i.snag.gy/RQU1ZA.jpg" alt="" class="mr-2">
														<div class="small text-secondary">{{post.comment}}</div>
													</div>
												</div>
												<img src="https://i.snag.gy/59HDhw.jpg" alt="">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
						<div class="d-flex flex-row align-items-center m-card-0 shadow-plate-lg mb-2 px-3 pb-2"> 
							<div class="h1 mb-0">Прямой эфир</div> 
							<div class="ml-3  pulse"></div>
						</div>
						<ul class="list-unstyled pt-3" >
							<li class="media mb-3 " v-for="(live, index) in lives">
								<div class="media-body">
									<div class=" live-type mb-1">{{live.type}}</div>
									<br>
									<a href="" class="">{{live.title}}</a>
									<div class="">
										{{live.desc}}
									</div>
									<div class="d-flex flex-row align-items-center justify-content-between mt-2">
										<a class="dotted-link small ">Ответить</a>
										<div class="text-secondary small">{{live.date | fdate}} {{live.author}}</div>
									</div>
								</div>
							</li>
						</ul>
						<button type="button" class="btn btn-secondary btn-block" >Показать все</button>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-plate fixed-bottom">
			<ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Вопросы</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Блоги</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Эфир</a>
				</li>
			</ul>

		</div>
	</div>
	<div class="bg-light d-none d-lg-block">
		<div class="container">
			<div class="row py-2">
				<div class="col-8">
					<div class="d-flex flex-row align-items-center "> 
						<div class="small text-secondary mr-5">Владивосток</div>
						<div class="small text-secondary mr-3">ДНС Цифровой</div>
						<div class="small text-secondary mr-3">ДНС Технопоинт</div>
						<div class="small text-secondary mr-3">ДНС Сервис</div>
					</div>
				</div>
				<div class="col-4">
					<div class="d-flex flex-row align-items-center justify-content-between"> 
						<div class="small text-secondary mr-5">Тур по сайту</div>
						
						<div class="small text-secondary font-weight-bold">Вход | Регистрация</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-white shadow-plate">
			<div class="container">
				<div class="row py-4">
					<div class="col-12">
						<div class="d-flex flex-row align-items-center "> 
							<img class="logo mr-5" src="https://i.snag.gy/rhv1jA.jpg" alt="">
							<ul class="nav">
								<li class="nav-item">
									<a class="nav-link  px-1 mr-4" href="#">Разделы</a>
								</li>
								<li class="nav-item">
									<a class="nav-link px-1 mr-4" href="#">Блоги</a>
								</li>
								<li class="nav-item">
									<a class="nav-link px-1 mr-4" href="#">Помощь эксперта</a>
								</li>
								<li class="nav-item">
									<a class="nav-link px-1 mr-4" href="#">Форум</a>
								</li>
								<li class="nav-item">
									<a class="nav-link px-1 mr-4" href="#">Новости</a>
								</li>

								<li class="nav-item">
									<a class="nav-link px-1 mr-4" href="#">Участники</a>
								</li>

							</ul>
							<img class="ml-auto" src="https://i.snag.gy/7rBCoa.jpg" alt="">	
						</div>
					</div>
					
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row my-4 ">
				<div class="col-12 ">
					<div class="card">
						<div class="card-body">
							<div class="d-flex flex-row align-items-center "> 
								<div class="d-flex flex-row align-items-center mr-4">
									<img class="mr-3 img-60" src="https://i.snag.gy/aZNYQy.jpg" alt="Generic placeholder image">
									<div class="small">Зарегистрируйся и стань участником клуба DNS</div>
								</div>
								<div class="d-flex flex-row align-items-center mr-4">
									<img class="mr-3 img-60" src="https://i.snag.gy/O8Yv9M.jpg" alt="Generic placeholder image">
									<div class="small">Отвечай на вопросы пользователей, пиши на форуме, публикуй обзоры и зарабатывай рейтинг</div>
								</div>
								<div class="d-flex flex-row align-items-center mr-4">
									<img class="mr-3 img-60" src="https://i.snag.gy/Zq4t7z.jpg" alt="Generic placeholder image">
									<div class="small">Получай возможность выиграть призы от клуба DNS и его спонсоров</div>
								</div>
								<button type="button" class="btn btn-primary ">Стать участником</button>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-12 col-lg-8">
					<div class="card mb-4">
						<div class="card-body">
							<div class="d-flex flex-row align-items-center justify-content-between mb-4">
								<div class="h1 mb-0"><a href="">Вопросы пользователей</a></div>
								<div class="d-flex flex-row align-items-center">
									<img src="https://i.snag.gy/6EW0zx.jpg" alt="" class="mr-2">
									<div class="font-weight-bold dotted-link mb-1"><a href="">Спросить</a></div>
								</div>

							</div>
							<div class="ask-list">
								<ul class="list-unstyled mb-4" >
									<li class="media pb-4 b-b-1" v-for="(ask, index) in orderedAsks"  v-if="index == 0">
										<img class="mr-4" :src="ask.img">
										<div class="media-body">
											<div class="mt-0 mb-1">{{ask.product}}</div>
											<div class="small">{{ask.desc}}</div>
											<div class="d-flex flex-row align-items-center justify-content-between mt-2">
												<a href="#" class="dotted-link small ">Ответить</a>
												<div class="text-secondary small">{{ask.date | fdate}} {{ask.author}}</div>
											</div>
										</div>
									</li>
								</ul>
								<local-swiper ref="awesomeSwiperB" :options="swiperOptionB" >
									<local-slide v-for="(ask, index) in orderedAsks"  v-if="index != 0">
										<div class="d-flex flex-column mb-2">
											<div class="mt-0 mb-2">{{ask.product}}</div>
											<div class="small">{{ask.desc}}</div>

											<div class="d-flex flex-row align-items-center justify-content-between mt-auto">
												<a href="#" class="dotted-link small ">Ответить</a>
												<div class="text-secondary small">{{ask.date | fdate}} {{ask.author}}</div>
											</div>
										</div>
									</local-slide>
									<div class="swiper-button-prev" slot="button-prev"></div>
									<div class="swiper-button-next" slot="button-next"></div>
								</local-swiper>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<div class="d-flex flex-row align-items-center justify-content-between mb-4">
								<div class="h1 mb-0"><a href="">Статьи в блогах</a></div>
								<div class="d-flex flex-row align-items-center">
									<img src="https://i.snag.gy/sU7jur.jpg" alt="" class="mr-2">
									<div class="font-weight-bold dotted-link mb-1"><a href="">Написать</a></div>
								</div>
							</div>
							<div class="" v-for="(post, index) in posts">
								<div class="pb-5" >
									<div class="d-flex flex-row">
										<div class="mr-4">
											<div class="post-image-wrap">
												<img :src="post.img" alt="" class="post-image">
												<div class="post-rating">
													<div class="d-flex flex-row align-items-center justify-content-center">
														<img src="https://i.snag.gy/Fi9pUx.jpg" class="mr-2" alt="">
														{{post.rating}} голосов
													</div>
												</div>
												<img :src="post.img" alt="" class="blured-img">
											</div>
										</div>										
										<div class="d-flex flex-column">
											<div class="h3"><a href="">{{post.title}}</a></div>
											<div class="d-flex flex-row">
												<div class="mr-1" v-for="(tag, index) in post.tags">
													<div class=" small mb-2">
														<a class="text-secondary"  href="">{{tag}} <span v-if="index <1" class="">/</span></a>														
													</div>
												</div>
											</div>										
											<div class="text-dark mb-3">{{post.desc | text180}}</div>
											<div class="d-flex flex-row align-items-center justify-content-between">
												<div class="d-flex flex-row align-items-center">
													<div class="d-flex flex-row align-items-center mr-4">
														<img src="https://i.snag.gy/vUm5at.jpg" alt="" class="mr-2">
														<div class="small text-secondary">{{post.view}}</div>
													</div>
													<div class="d-flex flex-row align-items-center mr-4">
														<img src="https://i.snag.gy/RQU1ZA.jpg" alt="" class="mr-2">
														<div class="small text-secondary">{{post.comment}} </div>
													</div>
												</div>
												<div class="d-flex flex-row align-items-center ">
													<div class="small text-secondary">{{post.date | fdate}} {{post.author}}</div>
												</div>
											</div>
										</div>
									</div>				
									
									
								</div>
								<div class="forum-plate mb-5" v-if="index == 2 ">
									<div class="h2 mt-4">Горячие темы форума</div>
									<ul class="list-unstyled mb-4" >
										<li class="media mb-4 " v-for="(forum, index) in forums">
											<img :src="forum.img" alt="" class="mr-4 mt-1">
											<div class="media-body">
												<a href="" class="">{{forum.title}}</a>
												<div class="d-flex flex-row align-items-center">
													<div class="d-flex flex-row align-items-center w-px-90">
														<img src="https://i.snag.gy/vUm5at.jpg" alt="" class="mr-2">
														<div class="small text-secondary">{{forum.view}} </div>
													</div>
													<div class="d-flex flex-row align-items-center mr-1">
														<img src="https://i.snag.gy/RQU1ZA.jpg" alt="" class="mr-2">
														<div class="small text-secondary">{{forum.comment}} ответов</div>
													</div>
													<div class="text-secondary small">последний {{forum.date | fdate}}</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4">
					<div class="card mb-3">
						<div class="card-body">
							<div class="d-flex flex-row align-items-center justify-content-between mb-4">
								<div class="h1 mb-0"><a href="">Новости</a></div>
								<div class="d-flex flex-row align-items-center">
									<img src="https://i.snag.gy/sU7jur.jpg" alt="" class="mr-2">
									<div class="font-weight-bold dotted-link mb-1"><a href="">Написать</a></div>
								</div>
							</div>
							<ul class="list-unstyled " >

								<li class="d-flex flex-row mb-4" v-for="(newitem, index) in news">
									<div class="">
										<div class="small mb-1"><a href="" class=" text-secondary">{{newitem.title}}</a></div>	
										<div class="text-secondary small">{{newitem.date | fdate}} {{newitem.author}}</div>
										
									</div>
									<div class="ml-3"><img :src="newitem.img" alt=""></div>
								</li> 
							</ul>
							<!-- <button type="button" class="btn btn-secondary btn-block" >Показать все</button> -->
						</div>
					</div>

					<div class="card mb-3">
						<div class="card-body">
							<div class="h1 mb-1">Лидеры</div> 
							<ul class="nav nav-tabs  mb-4 bg-white " id="myTab" role="tablist">
								<li class="nav-item">
									<a class="nav-link active" aria-selected="true">Неделя</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" aria-selected="false">Месяц</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" aria-selected="false">Все время</a>
								</li>
							</ul>
							<ul class="list-unstyled">
								<li class="media mb-3" v-for="(user, index) in topUsers">
									<img class="mr-3 img-60" :src="user.img">
									<div class="media-body">
										<div class="font-weight-bold">{{user.rate}}</div>
										<div class="">
											<a href="" class=" ">{{user.name}}</a>
										</div>
										<div class="small d-inline-block">{{user.count}} баллов</div>
										<div class="text-success small d-inline-block">+ {{user.up}}</div>
									</div>
								</li>
							</ul>
							<button type="button" class="btn btn-secondary btn-block">Весь список</button>
						</div>
					</div>
					<div class="card mb-3">
						<div class="card-body">
							<div class="h1 mb-3">Последние награды</div> 
							<ul class="list-unstyled">
								<li class="media mb-4" >
									<img class="mr-3 " src="https://i.snag.gy/2KJYFl.jpg">
									<div class="media-body">
										<div class="font-weight-bold">Активист</div>
										<div class="small">	Дается за 250 комментариев за последние 3 месяца</div>
										<div class="small text-secondary">7 минут назад Антон</div>
									</div>
								</li>
								<li class="media mb-4" >
									<img class="mr-3 " src="https://i.snag.gy/sXIjOr.jpg">
									<div class="media-body">
										<div class="font-weight-bold">Признание</div>
										<div class="small">Дается за 100 лайков </div>
										<div class="small text-secondary">7 минут назад Василий</div>
									</div>
								</li>
								<li class="media mb-4" >
									<img class="mr-3 " src="https://i.snag.gy/pSKLce.jpg">
									<div class="media-body">
										<div class="font-weight-bold">Учитель</div>
										<div class="small">	Дается за 100 лайков или дислайков чужим комментариям</div>
										<div class="small text-secondary">7 минут назад Александра</div>
									</div>
								</li>

							</ul>
							<button type="button" class="btn btn-secondary btn-block">Все награды</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- lakfjlkdfjlsdjflkadfslakfjlkdfjlsdjflkadfslakfjlkdfjlsdjflkadfslakfjlkdfjlsdjflkadfs -->
	<div class="modal fade" id="addAsk" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Добавление вопроса</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

					<input class="form-control mb-3" type="text" v-model="newAsk.product" placeholder="Товар">
					<input class="form-control mb-3" type="text" v-model="newAsk.img" placeholder="Сcылка на изображение">
					<input class="form-control mb-3" type="text" v-model="newAsk.author" placeholder="Автор">
					<textarea class="form-control mb-3"  rows="3" v-model="newAsk.desc" placeholder="Вопрос"></textarea>
					<button type="button" class="btn btn-primary" v-on:click="addAsk">Отправить</button>
				</div>
			</div>
		</div>
	</div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-awesome-swiper@3.1.2/dist/vue-awesome-swiper.js"></script>


<script src="https://gstatic.com/firebasejs/4.2.0/firebase.js"></script>
<script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>


<script src="https://unpkg.com/dayjs@1.6.9/dayjs.min.js"></script>
<script src="https://unpkg.com/dayjs@1.6.9/plugin/relativeTime.js"></script>
<script src="js/ru.js"></script>

<script src="js/custom.js"></script>


</body>
</html>