*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 14px;
}
input.hsearch{
	margin:0;
	background:#fff url("https://i.snag.gy/4foasV.jpg") no-repeat scroll 97% center;
	border:1px solid rgb(221, 221, 221);
	box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
	height: 38px;
}
input.hsearch::-moz-placeholder {
	color: #999;
	font-size: 13px;
}
.first-floor{
	height:70px;
}
.first-line {
	height:45px;
}
/*-------------------------margin-----------------*/
.mr-5{
	margin-right:5px;
}
.mr-15{
	margin-right:15px;
}
.mr-30{
	margin-right:30px;
}
.ml-20{
	margin-left:20px; 
}
.ml-30{
	margin-left:30px;  
}
.ml-50{
	margin-left:50px;  
}
.ml-70{
	margin-left:70px;  
}
.mt-10{
	margin-top: 10px;
}
.mb-10{
	margin-bottom: 10px;
}
.mb-20{
	margin-bottom: 20px;
}
.mb-30{
	margin-bottom: 40px;
}
.no-margin{
	margin:0;
}
.m-auto{
	margin: auto;
}
/*-------------------------paddind-----------------*/

.pt-20{
	padding-top: 20px;
}
.pr-20{
	padding-right: 20px;
}
.pr-10{
	padding-right: 10px;
}
.pb-20{
	padding-bottom: 20px;
}
.pl-10{
	padding-left: 10px;
}
.pl-15{
	padding-left: 15px;
} 
.pl-20{
	padding-left: 20px;
} 
.pb-30{
	padding-bottosm: 30px;
}
.pt-30{
	padding-top: 30px;
}
.pt-5{
	padding-top: 5px;
}
.pa-15{
	padding: 15px;
}
.pa-25{
	padding: 25px;
}
/*-------------------------font-color-----------------*/
.clr-bl{
	color: #000000;
}
.clr-grey{
	color: #666;
}
.clr-dark-grey{
	color: #333;
}
/*-------------------------font-size-----------------*/
.fz-12{
	font-size: 12px;
}
.fz-13{
	font-size: 13px;
}
.fz-14{
	font-size: 14px;
}
.fz-15{
	font-size: 15px;
}
.fz-16{
	font-size: 16px;
}
.fz-17{
	font-size: 17px;
}
.fz-18{
	font-size: 18px;
}

/*-------------------------line-hieght-----------------*/

.lh-16{
	line-height: 16px;
}
.second-floor{
	height:90px;
}
.warp{
	position: relative;
}
.warp-flex{
	display: flex;
}
.Rounded {
	border-width: 1px;
	border-color: rgb(205, 81, 38);
	border-style: solid;
	border-radius: 3px;
	background-color: rgb(237, 131, 60);
	height: 38px;
	color:#fff;
	display:flex;
}
.Rounded>svg{
	height:15px;
	margin:0 10px;
}
.triangle{
	width: 20px;
	height: 20px;
	position: absolute;
	left: 20px;
	transform:rotate(45deg) translate(-15px, -15px);
}
.whitebg{
	background-color:#ffffff; 
}
.greybg{ 
	background-color:#f7f7f7;
}
.bluebg{
	background-color:#deeaf4
}
.yellowbg{
	background-color: #ffedb2; 
}

.global-nav .active {
	background-color: #fff;
}

.item {
	padding: 0 20px;
	float:left;
	height: 40px;
	align-items: center;
	display: flex;
}

.circle-80{
	border-radius: 50%;
	width: 80px;
	height: 80px;
	display: flex;
}
.circle-30{
	border-radius: 50%;
	width: 30px;
	min-width: 30px;
	height: 30px;
	display: flex;
	border: 1px solid #cccccc;
}
.dashed{
	border-bottom: 1px #1c8ace dashed;

}
.header-bottom{
	border-bottom: 2px #f4793b solid;
}
.b-l{
	border-left: 1px #eee solid;
}
.b-r{
	border-right: 1px #eee solid;
}
.b-b{
	border-bottom: 1px #eee solid;
}
#watch {
	width: 110px;
	height: 38px;
	overflow: hidden;
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: #000;
	border-radius: 3px;
}
#watch ol {
	float: left;
	list-style: none;
	width: 25px;
	padding: 0;
	margin: 0 1px 0 0;
	background: #000;
	color: #fff;
	font-size: 18px;
}
#watch li {
	line-height: 40px;
}
@-webkit-keyframes rotate-ms {
	from {
		-webkit-transform: translate(0, 0px);
	}
	to {
		-webkit-transform: translate(0, -380px);
	}
}
@-webkit-keyframes rotate-s-m {
	from {
		-webkit-transform: translate(0, 0px);
	}
	to {
		-webkit-transform: translate(0, -380px);
	}
}
@-webkit-keyframes rotate-h {
	from {
		-webkit-transform: translate(0, 0px);
	}
	to {
		-webkit-transform: translate(0, -380px);
	}
}
#dial1 {
	-webkit-animation: rotate-ms 400s linear infinite;
}
#dial2 {
	-webkit-animation: rotate-s-m 4000s linear infinite;
}
#dial3 {
	-webkit-animation: rotate-s-m 40000s linear infinite;
}
#dial4 {
	-webkit-animation: rotate 400000s linear infinite;
}

/*выпадайка лк*/
button.cabinet:hover{
	box-shadow:0 0px 15px 0 rgba(0, 0, 0, 0.07);
	transition: box-shadow 0.3s ease;
}
button.cabinet:hover .cabinet-link{
	color: #f4793b;
}
.dropdown-pane .list-submenu{
	line-height: 1.5;
}

.profile-drop{
	border-top: 1px solid #e46b2e;
	overflow: hidden;
}
.cabinet[aria-expanded="false"]{
	box-shadow:0 6px 5px 0 rgba(0, 0, 0, 0.0);
}
.cabinet[aria-expanded="true"]{
	box-shadow:0 6px 15px 0 rgba(0, 0, 0, 0.07);
	transition: box-shadow 0.3s ease 0.2s;
}
.dropdown-pane.profile-drop{
	opacity: 0;
	height: 0;
	box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
	background: white url("https://i.snag.gy/zGApWO.jpg") no-repeat scroll 230% 260%;
	transition: visible 0s ease 0s, opacity 0s ease 0s, height 0s ease 0s, box-shadow 0s ease 0s, background 0s ease 0s;
}

.dropdown-pane.profile-drop.is-open  {
	opacity: 1;
	z-index: 2;
	height: 320px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	background: white url("https://i.snag.gy/zGApWO.jpg") no-repeat scroll right bottom;
	transition: visible 0.3s ease 0.2s, opacity 0.3s ease 0.2s, box-shadow 0.3s ease 0.2s, height 0.3s ease 0.2s, background 0.3s ease 0.2s;
}
.dropdown-pane.profile-drop .row  {
	opacity: 0;
	transition: opacity 0s ease 0s;
	transform: translateX(40px);
}
.dropdown-pane.profile-drop.is-open .row {
	opacity: 1;
	transform: translateX(0px);
	transition: transform 0.3s ease 0.2s, opacity 0.3s ease 0.2s, -webkit-transform 0.3s ease 0.2s;
}
.dropdown-pane.profile-drop .row:nth-of-type(2) {
	transition-duration: 0.4s;
}
.dropdown-pane.profile-drop .row:nth-of-type(3) {
	transition-duration: 0.5s;
}
.dropdown-pane.profile-drop .row:nth-of-type(4){
	transition-duration: 0.55s;
}
.cart{
	white-space: nowrap;
}
.nowrap{
	white-space: nowrap;
}
@media (min-width: 0px) {
	.main-layout{width:1240px;}
	.information-link{display: none;}
	.header-mobile{display: none;}
}  
@media (max-width: 1240px) {
	.main-layout{width:1024px;}
	.information-menu{display: none;}
	.information-link{display: inline-block;}
}
@media (max-width: 1024px) {
	.main-layout{width:auto;}
}
@media screen and (max-width: 767px) {
	.main-layout{width:auto;}
	.header-desktop{display: none;}
	.header-mobile{display: block;}
}

.first-floor-mob{
	height: 50px;
}