.swiper-main {
	width: 100%;
	height: auto;
	overflow:hidden;
	    position: relative;
}
.swiper-main .swiper-slide {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 400px;
	height: auto;
	max-width: 100%;
	min-height: 240px;


}

.swiper-main .parallax-bg {
	width: 100%;
	height: auto;
	z-index: -1;
	border-radius: 3px;


}
.swiper-main .swiper-slide .title {
	z-index: 1;
	position: absolute;
	left: 20px;
	bottom: 45px;
	font-weight: 900;
	font-size: 28px;
	font-family: 'Playfair Display', serif;
	display: inline-block;
	color: #000;
}

.swiper-main .swiper-slide .text {
	z-index: 1;
	position: absolute;
	left:20px;
	bottom: 30px;
	font-size: 14px;



}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap;
        margin-top: 15px;
}



span.swiper-pagination-bullet{
    margin: 0 4px;
}





.slider-arrow {
  position: absolute;
  top: 50%;
  background-color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  z-index: 1000;
  transform: translateY(-50%);
  padding: 9px;
    opacity: .6;
    cursor: pointer;
    box-shadow:  0 0 15px rgba(0,0,0,.1);
    background-size: 14px 44px;
    background-position: center;
    background-repeat: no-repeat;
}

.slider-arrow.swiper-button-disabled{
    color: #999;
}

.slider-arrow:hover,
.slider-arrow:focus{
  opacity: 1;
  transition: opacity 0.2s ease;
}

.slider-arrow-l{
  left: 20px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNSAxNSI+PHBhdGggZD0iTTEwIDIuN0w4LjIuOSAxLjQgNy43bDYuOCA2LjkgMS44LTEuOC01LTUuMXoiLz48L3N2Zz4=");
    
}

.slider-arrow-r{
  right: 20px;


  transform: translateY(-50%) rotate(180deg);
   background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNSAxNSI+PHBhdGggZD0iTTEwIDIuN0w4LjIuOSAxLjQgNy43bDYuOCA2LjkgMS44LTEuOC01LTUuMXoiLz48L3N2Zz4=");
 

  
}


.preloader {
  height: 20px;
  width: 20px;
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
  border: 2px solid rgba(252, 208, 0, .33);
 border-top: 2px solid rgba(252, 208, 0, 1);
   
z-index: -2;
  border-radius: 30px;
  animation: rotate .8s infinite linear;
  
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    
   
  }

  50% {
    transform: rotate(180deg);

  }

  100% {
    transform: rotate(360deg);

    
  }
}




.swiper-site {
	width: 100%;
	height: auto;


}
.swiper-site .swiper-slide {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: auto;
	height: auto;

}
.overflow{
		overflow:hidden;
}




.main-title{

    font-size: 3rem;
    line-height: 3rem;
 
}


.modal-dialog.modal-full{
	    max-width: 100%;
    margin: 0;
}


@media (min-width: 1200px){
.container {
    max-width: 1440px!important;;
}
}