.swiper-main {
	width: 100%;
	height: auto;
	overflow:hidden;
}
.swiper-main .swiper-slide {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 400px;
	height: auto;
	max-width: 100%;
	min-height: 240px;



}

.swiper-main .parallax-bg {
	width: 100%;
	height: auto;
	z-index: -1;
	border-radius: 3px;


}
.swiper-main .swiper-slide .title {
	z-index: 1;
	position: absolute;
	left: 20px;
	bottom: 45px;
	font-weight: 900;
	font-size: 28px;
	font-family: 'Playfair Display', serif;
	display: inline-block;
	color: #000;
}

.swiper-main .swiper-slide .text {
	z-index: 1;
	position: absolute;
	left:20px;
	bottom: 30px;
	font-size: 14px;



}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap;
}



span.swiper-pagination-bullet{
    margin: 0 4px;
}




.preloader {
  height: 20px;
  width: 20px;
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
  border: 2px solid rgba(252, 208, 0, .33);
 border-top: 2px solid rgba(252, 208, 0, 1);
   
z-index: -2;
  border-radius: 30px;
  animation: rotate .8s infinite linear;
  
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    
   
  }

  50% {
    transform: rotate(180deg);

  }

  100% {
    transform: rotate(360deg);

    
  }
}